[2022-04-06 18:49] theandrewdodson opened #1263 "Function read_parquet throws an error for an 'and' clause in the partition_filter parameter"
### Describe the bug
Can't use an 'and' condition in the partition_filter parameter when reading a parquet file

### How to Reproduce

**Succeeds**
[code]
**Fails**
[code]
**Error received**
NoFIlesFound: No files found on s3://bucket/folder

### Expected behavior
and conditions would perform the same as an or clause

I also tried to match the format of the documentation to no avail.

![image](htt

[2022-04-07 10:20] #1260 closed

[2022-04-08 01:25] jeffngo commented on #838
There is still a problem with the current implementation. 'NextToken' is still not part of the return value. What's the point of adding support for pagination when you don't return the pagination token?

[2022-04-08 13:50] kukushking commented on #838
@jeffngo you don't have to retrieve the next page manually using a token. Pass `chunked=True` and wrangler will return an iterator of data frames each corresponding to the pages in the result set that you would be able to iterate lazily.

[2022-04-08 14:56] jeffngo commented on #838
@kukushking Does that mean that `awswrangler` returns the full result set along with an iterator? If that's true, this solution will not scale well for a large dataset. AWS Timestream has implemented token-based [pagination](https://docs.aws.amazon.com/timestream/latest/developerguide/API_query_Query.html#:~:text=Required%3A%20No-,NextToken,-A%20pagination%20token) so that end-users can fetch a sm

[2022-04-08 15:24] kukushking commented on #838
@jeffngo no, if you pass `chunked=True` it will not read full result set at once - it only retrieves the current page, until you ask the iterator for the next one.
[code]
Just make sure you pass `chunked=True` to enable this behavior, otherwise it will indeed retrieve full result set.

[2022-04-08 18:17] jeffngo commented on #838
@kukushking I see. In my application, we want to return a pagination token to the client so that the client can decide when to go to the next/previous page. Is there a way to pull the next pagination token out of `dfs` in your example above?

[2022-04-08 19:37] koberghe opened #1265 "athena.read_sql_query() casting to pandas ExtensionDtypes only"
Data types are converted to pandas Extension Dtypes when calling athena.read_sql_query(). Is there a way to prevent this and get basic numpy dtypes instead of nullable pandas dytpes? (e.g. `int64` instead of `Int64`). This would be useful, for example when the data is further processed with numpy.

I believe this conversion is happening in [athena2pandas](https://github.com/awslabs/aws-data-wrangl

[2022-04-11 15:41] kukushking commented on #1252
Hi @jmahlik - done in release `1.15.1`. To install the optional dependency run pip install with `sparql` extra e.g.:
[code]
This will install `SPARQLWrapper` and all it's dependencies including `rdflib`

[2022-04-11 15:41] #1252 closed

[2022-04-11 17:05] bechbd opened #1272 "Add ability to write DF as a bulk load job in Amazon Neptune"
**Is your idea related to a problem? Please describe.**
Add ability to load/update data from a data frame via the bulk loader.

**Describe the solution you'd like**
The fastest way to load/update data in Neptune is to use the Bulk Loader.  I would like to see a method for the Neptune integration that would take a dataframe, write it out to the supported file type (CSV/n-quads/n-triples/TTL) for th

[2022-04-12 15:16] Antauri commented on #553
When can this be added?

[2022-04-12 21:36] kumar-abhishek opened #1273 "How to use regex in s3.list_directories API?"
`Use case`: List folders inside "s3://v12345".

**What I tried**
[code]
Is that the right way to use regex in `list_directories()`?

[Referenced this documentation](https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.s3.list_directories.html)

[2022-04-13 21:10] juan-yunis commented on #769
I know this is closed from last year, but I'm getting this issue too, I have some parquet files with 1M records in s3, and when trying to `read_parquet` with `chunked=True`, it throws the error, like it was trying to read the entire parquet file instead of by chunks.

[2022-04-14 05:35] tmokmss commented on #928
Shouldn't this be clearly documented somewhere? Using `SSCursor` made much difference on `mysql.read_sql_table` load time for me.

For 10M raws table with chunksize = 1000...
* With `Cursor`: waited more than 1 minutes and still returned nothing
* With `SSCursor`: retuned the first chunk in a few seconds

Without finding this issue I'd almost given up using data wrangler for huge table use cases 😅

[2022-04-14 06:28] jaidisido commented on #928
Hi @tmokmss, this is already referenced in the docs for the connect [method](https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.mysql.connect.html#awswrangler.mysql.connect)

Were you thinking of smt else?

[2022-04-14 07:15] tmokmss commented on #928
Hi @jaidisido thanks for catching

Maybe existing blue `Note` sections will help. Currently SSCursor is mentioned but for a beginner of PyMySQL it is unclear what SSCursor is for and when should we use it.
How about adding a note like "When you load a large table, you can reduce load time by using SSCursor"?

[2022-04-14 10:14] jaidisido commented on #928
Done - https://aws-data-wrangler.readthedocs.io/en/latest/stubs/awswrangler.mysql.connect.html#awswrangler.mysql.connect

[2022-04-14 10:42] kukushking commented on #1258
Pyarrow seem to have [addressed](https://issues.apache.org/jira/browse/ARROW-5480) it but only for string categoricals - in 7.0.0 numeric categoricals still don't survive round trips. I've added the comment on the issue -- let's see what they say.

[2022-04-14 10:52] kukushking commented on #1263
Wrangler throws an error after listing the bucket if there are no objects matching your criteria. Looks like there are just no files in `/year=2018/month=1/` partition

[2022-04-14 11:09] jaidisido commented on #1273
Hi @kumar-abhishek, the method accepts [unix shell glob patterns](https://teaching.idallen.com/cst8207/15w/notes/190_glob_patterns.html#shell-glob-metacharacters), not regex. Examples of how to build these patterns can be found in this [test](https://github.com/awslabs/aws-data-wrangler/blob/main/tests/test_s3.py#L340)

[2022-04-14 11:09] #1273 closed

[2022-04-14 11:53] tmokmss commented on #928
Cool, thank you so much!

[2022-04-14 12:24] jaidisido commented on #1265
Hi @koberghe, pandas extension dtypes are used to avoid situations where, for example, an integer column in Athena has null values and a conversion to `int64` in pandas would convert the column to a float instead of an integer. See here for more [details](https://pandas.pydata.org/docs/user_guide/integer_na.html). A user can always convert to int64 if they wish, but at the same time I do appreciat

[2022-04-14 12:25] #1156 closed

[2022-04-14 12:25] jaidisido commented on #1154
Closing due to inactivity

[2022-04-14 12:25] #1154 closed

[2022-04-14 12:28] jaidisido commented on #1198
Closing due to inactivity

[2022-04-14 12:28] #1198 closed

[2022-04-14 12:28] jaidisido commented on #1230
Closing due to inactivity

[2022-04-14 12:28] #1230 closed

[2022-04-16 11:34] harshalpatel555 commented on #629
Please add the support for RDS oracle

[2022-04-16 12:51] AdrianoNicolucci commented on #629
I'm not sure if you read the comments above but it is actively being worked on and looks like they are planning to release this feature soon.

[2022-04-16 14:12] luvk1412 opened #1276 "Unsupported Athena type when providing decimal"
### Describe the bug

According to documentation here : [s3.to_parquet](https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/stubs/awswrangler.s3.to_parquet.html#awswrangler.s3.to_parquet)

but when I add decimal as datatype I get an excpetion even though decimal is valid athena type (Ref : [Athen Types](https://docs.aws.amazon.com/athena/latest/ug/data-types.html) )
, also there is very less de

[2022-04-16 14:15] #1276 closed

[2022-04-16 16:54] harshalpatel555 commented on #629
Thanks for the update

On Sat, Apr 16, 2022 at 6:21 PM Adriano Nicolucci ***@***.***>
wrote:

[2022-04-16 17:14] luvk1412 opened #1277 "Difference between writing file with and without dataset option"
*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*
At many place in documentation it is written

Ref : [to_parquet](https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/stubs/awswrangler.s3.to_parquet.html?highlight=dataset#awswrangler.s3.to_parquet)

I want to know is there any difference in actual single fil

[2022-04-16 17:26] luvk1412 opened #1278 "Transactional behaviour of awswrangler.s3.to_parquet in overwrite mode"
No Information regarding transactional behaviour is mentioned in Docs for [awswrangler.s3.to_parquet](https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/stubs/awswrangler.s3.to_parquet.html?highlight=dataset#awswrangler.s3.to_parquet) when used with mode='overwrite'.

I wish to know wether overwrite is transactional ? i.e is it guaranteed that if call fails, the original files in the bucket wi

[2022-04-16 18:39] luvk1412 opened #1279 "Not able to write nested dicts as athena Map datatype"
### Describe the bug

[awswrangler.s3.to_parquet](https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/stubs/awswrangler.s3.to_parquet.html?highlight=dataset#awswrangler-s3-to-parquet)) docs state that we can supply athena type in dtype for writing parquet files.
I have tried few examples which use map type and i am not able to successfully write those to s3.

### How to Reproduce

Example 1
[co

[2022-04-19 15:04] koberghe commented on #1265
Hi @jaidisido! Thank you for your explanation. Extension dtypes are useful without doubt. It just came as a surprise to me when the outpout of athena.read_sql_query used them by default. To my knowledge, `pd.read_csv` and `pd.read_parquet` both use standard integers unless specified otherwise. I guess this can be expected given the experimental status described in the link you provided.

But agree

[2022-04-19 15:16] snikolakis opened #1285 "CDC support for Opensearch"
**Is your idea related to a problem? Please describe.**
To the best of my knowledge, when using DataWrangler for CDC from RDS to Redshift, it works like a charm without needing to manually handle the operation code (I, U, D) passed to the .csv file. When trying to perform CDC from RDS to Opensearch it breaks and cannot index the new documents passed to Opensearch.

**Describe the solution you'd li

[2022-04-19 20:34] Jeni-P opened #1286 "Lambda times out reading JSON data from S3 using AWS wrangler"
Lambda function scans few partitions in S3 and has to read about 40-50 files in total with no more than couple thousand records. I have configured the Lambda function with about 1GB memory and 5 minutes time out. Lambda execution times out while reading data from S3 **using wrangler**. I even tried reading data in chunks using chunksize parameter in read_json function but still no luck. By seeing

[2022-04-20 13:19] AdrianoNicolucci commented on #1286
I'm having a similar issue. Any suggestions on how to improve reading performance from S3 using aws data wranger?

[2022-04-20 14:55] jaidisido commented on #1286
Hi folks,

I am slightly confused by these lines:
[code]
It's looping over every object in a partition and then reading all the objects in the partition into a dataframe? So if say a partition has 4 objects, it would create 4 dataframes which would each contain ALL objects in that partition?

[2022-04-20 15:41] AssafMentzer commented on #1285
@snikolakis thank you for the enhancement suggestion.
Can you please elaborate on RDS->Redshift CDC? where do you see this in the code?
If we move forward with this enhancement to OpenSearch we'd like to provide a consistent experience.

[2022-04-20 17:47] Jeni-P commented on #1286
Ah yes! Thank you.
**Modified code:**
        df_existing_data = pd.DataFrame()
        for partition in s3_partitions_list:
            bucket_filter_prefix = f"{dest_s3_log_dir}/{partition}/"
            for obj in bucket.objects.filter(Prefix=bucket_filter_prefix):
                obj_uri = f"s3://{obj.bucket_name}/{obj.key}"
                temp_df = wr.s3.read_json(path=obj_uri)

[2022-04-20 18:57] jaidisido commented on #1286
Glad it helped, I am closing the issue. As a side note, your code can further be optimised as the loop is completely unnecessary. You could simply run:
[code]
or simply:
[code]
without the need for a loop as the method accepts an S3 prefix or list of objects anyways.

[2022-04-20 18:57] #1286 closed

[2022-04-21 07:17] cdelamocepsa opened #1289 "Pip package too big for AWS Lambda functions"
When I try to install Data Wrangler in a lambda function from Pip, the package is too big for the lambda package size limits (50 mb zipped, 250 mb unzipped). If, for example, I try to install the [Lambda Powertools](https://github.com/awslabs/aws-lambda-powertools-python) package and AWS Data Wrangler, I'm getting a 67 MB zipped package, 263 MB unzipped. I'm zipping the package via serverless with

[2022-04-21 07:30] jaidisido commented on #1289
There is no need for the user to install the library in Lambda as it has already been packaged and made available. See the installation docs for available options: https://aws-data-wrangler.readthedocs.io/en/latest/install.html#aws-lambda-layer

[2022-04-21 07:30] #1289 closed

[2022-04-21 11:07] kukushking commented on #1279
@luvk1412 map types in pyarrow are built from [arrays of tuples](https://arrow.apache.org/docs/python/data.html#map-arrays) e.g. this will work:

[code]
Otherwise pyarrow wouldn't recognize this as a map and fails to convert it when writing to parquet

[2022-04-21 11:07] #1279 closed

[2022-04-21 11:50] snikolakis commented on #1285
Thank you for your response @AssafMentzer . I cannot really respond to where this exists inside the data-wrangler code, however I can describe my use case and how this works in case it helps you better understand. Suppose we are performing data migration between a RDS DB and Redshift and we need logical replication enabled in order to keep "listening" for changes and migrate them, as well, to our

[2022-04-21 12:37] #1265 closed

[2022-04-21 12:37] #1263 closed

[2022-04-21 13:02] kukushking commented on #1246
@knoam thanks, I've publish a PR that fixes that - you should now be able to catch all 404's by catching `wr.exceptions.NoFilesFound`

[2022-04-21 13:02] #1246 closed

[2022-04-21 13:07] kukushking commented on #769
@juan-yunis can you provide an example to reproduce this?

[2022-04-21 14:58] #1247 closed

[2022-04-21 18:17] malachi-constant opened #1291 "(workflow) unlabel assigned issues"
**Is your idea related to a problem? Please describe.**
- Remove `needs-triage` label if issue is assigned.

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-04-21 18:54] malachi-constant commented on #1291
Implemented in https://github.com/awslabs/aws-data-wrangler/commit/e03d556f1448846a05bee6e5a1c23834e2651651

[2022-04-21 18:54] #1291 closed

[2022-04-21 23:28] malachi-constant commented on #1277
Hi @luvk1412, thanks for the question!

Taking a simple example.
[code]

Should yield a failure as `dataset=False` (the default setting) requires that the path be a S3 key and not a path.
[code]

From the API docs:
[code]
[to_parquet() docs](https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.s3.to_parquet.html#awswrangler.s3.to_parquet)

[2022-04-22 10:53] jaidisido opened #1292 "Adding a new "precombine" upsert method to redshift"
### Discussed in https://github.com/awslabs/aws-data-wrangler/discussions/1284

<div type='discussions-op-text'>

<sup>Originally posted by **bnimam** April 18, 2022</sup>
Hello awslabs team.

I figured I'd start a discussion on this before writing an implementation.

Our team has a need for a more complex upsert method into redshift borrowing an idea from Apache Hudi called a [precombine field](h

[2022-04-22 12:29] robert-schmidtke opened #1293 "fast_executemany for sqlserver"
Hi, I was wondering whether you're not setting `fast_executemany = True` in `sqlserver`, e.g. here: https://github.com/awslabs/aws-data-wrangler/blob/main/awswrangler/sqlserver.py#L411

Wouldn't that make sense, especially for large number of rows? Or am I completely on the wrong track here?

Thanks!

[2022-04-22 14:06] luvk1412 commented on #1277
@malachi-constant I am not sure how your comment is answering my question, i wanted to know if there is any difference in file when written with dataset=true or dataset=false or not. For example the both code i gave in my question, would both write identical files in terms of file structure, or dataset=true would bring any special changes to the file ?

[2022-04-22 15:09] malachi-constant commented on #1277
In the example you gave, the call to `to_parquet()` with `dataset=False` would fail so no file would be written to S3.

[code]

[2022-04-22 20:24] bnimam commented on #1292
unofficially assigning myself

[2022-04-22 20:30] malachi-constant commented on #1292
@bnimam I'm going to officially assign you :)

[2022-04-23 04:48] luvk1412 commented on #1277
@malachi-constant  sorry my bad, my intention of asking this question is just to verify wether file written would actually be different or not , so code would change to,
[code]
Now i guess both functions will run, so now apart from different file names, will there be any structural difference in files written to s3 due to datatset flag being different in both ?

[2022-04-24 20:24] malachi-constant commented on #1277
No worries ! Yea there would be no structural difference between the two files. Reading back both the dataset and non-dataset parquet would yield an identical dataframe in this case.

[2022-04-24 23:01] #1277 closed

[2022-04-25 10:34] kukushking commented on #1285
Data Wrangler does not handle change data capture in any of its services at the moment.
To be honest, not quite sure why "I" column is ignored in your case, perhaps because it's not part of the schema and the default behaviour is to ignore the unknown fields.
You should be able to handle updates/deletes by specifying `update`/`delete` operation (that goes in the doc_type field I think) when indexi

[2022-04-25 10:47] kukushking commented on #1293
Hi @robert-schmidtke thanks, it does make sense to at least expose a parameter to enable/disable it. In `pyodbc`, it is `False` by default due to the fact that there are slight differences in data types conversions with and without fast_executemany. We'll add it or happy to accept a contribution as well 🙂

[2022-04-25 11:26] robert-schmidtke commented on #1293
Hey @kukushking thanks for coming back to me on this! I am not sure when I'll be able to address this, so if you have a schedule on your own it'd be great if you could also add it. Otherwise I'll try and get a PR together maybe some time this week.

[2022-04-25 13:15] cnfait commented on #1278
Indeed overwrite is not transactional. If writing new data fails for any reason, old data will be gone and cannot be relied upon. However the loss of data is admittedly expected given the nature of overwriting. We can add this information to the documentation, thanks for the suggestion!

[2022-04-25 15:10] malachi-constant opened #1301 "(management) determine branching and/or pre-release strategy for 3.x.x / 2.xx"
**Is your feature request related to a problem? Please describe.**
- Determine branching and/or pre-release strategy for 3.x.x / 2.xx

**Describe the solution you'd like**
- We need a strategy to manage a long-standing alternative branch for our next major release before merge.

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as m

[2022-04-25 21:00] liquidcarbon commented on #1197
Can an argument like this be added to `athena.read_sql_query`?  It has the same issue.

[2022-04-26 09:32] #1293 closed

[2022-04-26 09:46] robert-schmidtke commented on #1293
Thanks that was fast <3

[2022-04-26 14:55] #1278 closed

[2022-04-27 13:01] koberghe commented on #1197
Also addressed here:
https://github.com/awslabs/aws-data-wrangler/issues/1265

[2022-04-27 13:10] koberghe opened #1303 "wr.catalog.create_json_table not mentioned in documentation"
Lately, I have been using `wr.catalog.create_json_table` and so far it has worked great.  But there is no mention of this method in the [documentation](https://readthedocs.org/projects/aws-data-wrangler/downloads/pdf/latest/). So I just wanted to make sure we are not discouraged from using it?

Also, the docstring says that `org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe` is used as the defaul

[2022-04-28 08:31] #1303 closed

[2022-04-28 19:11] #1301 closed

[2022-04-28 19:15] malachi-constant opened #1306 "(ci) wrangler 3.x.x distributed method load testing"
**Is your feature request related to a problem? Please describe.**
When distributed support for wrangler library is introduced we will need to support load testing of calls during CI.

This will most likely involve an external job to run a test suite with designated or ephemeral infrastructure in a test account

*P.S. Please do not attach files as it's considered a security risk. Add code snippets

[2022-04-29 15:08] Tonkonozhenko opened #1307 "Cannot import pyarrow when using layer"
### Describe the bug

Cannot import pyarrow when using layer

### How to Reproduce

lambda code:

[code]

output:
[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Lambda

### Python version

3.9

### AWS DataWrangler version

arn:aws:lambda:eu-central-1:336392948345:layer:AWSDataWrangler-Python39:4

### Additional context

_No r

[2022-04-29 15:25] #1307 closed

[2022-05-01 23:34] NakedKoala opened #1308 "wr.timestream.query is very slow due to large number of pagination requests"
my call to query api

[code]
took 50 seconds to return about a dataframe of size 6MB containing 80K records.

I can see that a majority of the 50 seconds is taken up by dispatching a large number of paginate request one after another.

I have tried to change the pagination config from default value below.

[code]
But I am unable to work out what value should "StartingToken" be.

I tried to set "Ma

[2022-05-03 12:27] sbangalore opened #1313 "wr.athena.read_sql_query() use_threads only uses threads to clean up csv files post execution"
**Is your idea related to a problem? Please describe.**
I was using wrangler without ctas/unload to query Athena on Lambda. The Lambda has > 8 threads with 10,240 mb of memory. I was surprised when I specified `use_threads` as true (also by default), that the Athena queries executed sequentially. I deep dived into the code and found that wr.athena.read_sql_query() only uses threads to clean up csv

[2022-05-03 12:42] #1313 closed

[2022-05-04 10:07] #1292 closed

[2022-05-04 14:04] IldarAlmakaev opened #1314 "Redshift API. Pass column names to not have issues with column orders between destination and staging tables when doing UPSERT operation"
**Is your idea related to a problem? Please describe.**
If a table definition is changed(e.g. add/drop columns) then column orders between a destination and a staging tables in Redshift will be different. It might cause an incompatible schema error when the awswrangler is copying parquet files from S3 to Redshift.
AFAICS, the problem is in awswrangler’s code for upsert operation logic in **__upser

[2022-05-04 15:13] knoam opened #1315 "read_parquet Does Not Throw Error for Missing Column"
### Describe the bug

If you call pandas read_parquet and specify a missing column, you get an error as expected. But in corresponding awswrangler command, you do not.

### How to Reproduce

Pandas code raises an exception:

[code]

`ArrowInvalid: No match for FieldRef.Name(c) in a: int64
b: int64`

But awswrangler does not:

[code]

### Expected behavior

I expect awswrangler to throw an error li

[2022-05-04 21:12] juan-yunis commented on #769
@kukushking I created these parquet files with `chunk_size=1000000`, and after that I was reading them with `chunked=True`, but I get the `Length mismatch` error, it seems it's trying to load the entire file into memory instead of just the default chunksize (65535).

[2022-05-05 04:23] NakedKoala commented on #1308
@kukushking

my usecase ( some global analytics ) can't work with partial result.

Looks like the underlying service timestream is not suitable for this query pattern ( where i need to query hundreds of MB's worth of data quickly )

I am considering periodically coping raw data from timestream to some other AWS data store service which supports fast & efficient dumping of large amount of data.  Fo

[2022-05-05 09:59] rpauli opened #1316 "s3 503 Slowdown error with to_parquet"
I am currently using aws-data-wrangler to ingest data with a scheduled lambda function to a datalake.

We are using the dataset functionality to append partitions to Glue from IoT sensor data coming in through Kinesis Firehose, it looks something like this:

[code]
Now Occasionally and unreproducably the function fails with a s3 Slowdown error like so:
`    {'errorMessage': 'An error occurred (Slo

[2022-05-05 10:26] #1285 closed

[2022-05-05 10:32] kukushking commented on #1308
@NakedKoala If you can't work with partial results try to retrieve by page and then `pd.concat` the data. Hundreds of MBs should still be OK with API, that is only my hyphothesis regarding the limits (also It's row size that is limited to 1MB, not the entire response size)

[2022-05-05 15:01] Xiangyu-C opened #1318 "Add data_source param to athena.repair_table"
Hi, I can't seem to find where to specify data_source to repair_table method in athena api. Can you please add this param since our glue catalog is in a different account? Thank you. Pasting the current repair_table api below:

Parameters
table (str) – Table name.
database (str, optional) – AWS Glue/Athena database name.
s3_output (str, optional) – AWS S3 path.
workgroup (str, optional) – Athena w

[2022-05-05 15:33] IldarAlmakaev commented on #1314
Ther PR with changes is [here](https://github.com/awslabs/aws-data-wrangler/pull/1317). Just need to fix tests and rebuild

[2022-05-05 16:43] humanzz commented on #1272
This is something my team would be interested in as well.
The Neptune Bulk Loader is all about S3 https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load.html

There's basically 2 APIs
1. One to request the loading. This returns a load id
2. One to check the load status given a load id

Based on https://github.com/awslabs/aws-data-wrangler/blob/main/awswrangler/neptune/client.py, I can envi

[2022-05-06 15:25] dhorkel opened #1320 "wr.s3.read_parquet() errors if any files are missing"
**Is your idea related to a problem? Please describe.**

Currently when using `wr.s3.read_parquet(path=list_of_paths)` with a list of file paths, if any individual file does not exist, the following error is raised:
[code]
As a work around I've used `wr.s3.does_object_exist()` but this can be slow if being used for many files as it only accepts one file path.

**Describe the solution you'd like**

[2022-05-07 17:15] arogozhnikov commented on #806
@jaidisido  Curious if this was implemented somewhere.

[2022-05-09 08:52] cnfait commented on #1116
keeping this issue open - we're working on a solution, although there is no ETA.

[2022-05-09 09:02] jaidisido commented on #1320
Any reason why you are not simply passing an S3 prefix instead of a list of objects? With an S3 prefix argument (e.g. `s3://my-bucket/my-prefix/`) the method lists all objects, ensuring only existing objects are consumed. With a list, it's assumed the user has already checked the objects are there so I am not sure it should be the library's responsibility to check it

[2022-05-09 09:11] jaidisido commented on #806
Not yet - we still hope to implement a proper formatter across the library but must say it has slipped through other priorities

[2022-05-09 09:38] kukushking commented on #1320
Also note since #1246 wrangler with throw `NoFilesFound` exception on missing files instead of `404`

[2022-05-09 10:27] #1314 closed

[2022-05-09 10:27] jaidisido commented on #1314
Looks great, thanks for the contribution!

[2022-05-09 10:39] kukushking commented on #1272
Does make sense to me 👍

[2022-05-09 12:56] kukushking commented on #1316
@rpauli if function indeed only writes 500-100- files, something else must be eating the quota.

Try to minimize the number of requests you send. For example, you can configure batching in your lambda function and collect a bigger dataframe before you attempt to write it. Also it is worth to check what is reading the files - the quota is for 3,500 PUT/COPY/POST/DELETE or 5,500 GET/HEAD **combined*

[2022-05-09 13:01] #1213 closed

[2022-05-09 16:40] #1318 closed

[2022-05-09 16:58] arogozhnikov commented on #806
Can't speak for everyone, but in my practice parametrized queries are frequently the only approved way to add parameters from code (and IMO the most reliable one).

I had to go with pyathena's formatting because of this issue

[2022-05-09 17:39] olly-writes-code commented on #806
Same here!

[2022-05-09 19:12] malachi-constant commented on #1315
The library is using [`pyarrow.parquet.ParquetFile.read()`](https://arrow.apache.org/docs/python/generated/pyarrow.parquet.ParquetFile.html#pyarrow.parquet.ParquetFile.read) under the hood which allows for this behavior.

**Example**:
[code]

**Result:**
[code]

I'm not sure we want to deviate wrangler from the underlying `pyarrow` behavior. I'll let @jaidisido and @kukushking weigh in if they hav

[2022-05-09 22:17] jconwell commented on #1141
It's not really stale. The bug is still a problem for us.

[2022-05-09 23:36] malachi-constant opened #1325 "(ci) wrangler-3.0.0 unit testing"
Is your feature request related to a problem? Please describe.
When distributed support for wrangler library is introduced we will need to support unit testing of calls during CI.

P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.

[2022-05-09 23:40] davidparks21 opened #1326 "describe_objects runs slow compared to list_objects or equivalent boto3 request."
### Describe the bug

`awswrangler.s3.describe_objects(S3PATH)` is taking 10+ minutes to run (even with threads, though a little better) when there are 1000+ files in `S3PATH`.

Both of these commands run fast:

[code]

### How to Reproduce

[code]

### Expected behavior

Expected similar performance to `boto3`.

### Your project

https://github.com/braingeneers/braingeneerspy/

### Screenshots

_

[2022-05-10 08:44] jaidisido commented on #1326
I am not sure why you think the two methods (list_objects and describe_objects) are comparable here?

`wr.s3.describe_objects` does not only list the objects in the S3 prefix, but also makes a HEAD call on __each__ one of them. S3:Head is an expensive operation because it collects far more information than list object, including ContentLength, DeleteMarker, ContentType...

A fairer comparison woul

[2022-05-10 08:44] #1326 closed

[2022-05-10 15:50] mwoods-familiaris opened #1327 "AttributeError: 'Index' object has no attribute 'head' - Regression in 2.15.*"
### Describe the bug

Regression of #1188 in awswrangler 2.15.*

`wr.s3.to_parquet` fails when writing a `DataFrame` with an an ExtensionDType index resulting in error

[code]

Specifically, the failure happens when using `pandas==1.4.*` and `awswrangler==2.15.*`. This behavior is consistent on both `pyarrow==5.0.0` and `pyarrow==7.0.0`. Appears to be a regression in the 2.15.0 release, as works f

[2022-05-10 17:05] davidparks21 commented on #1326
I agree that it's a reasonable expectation that `describe_objects` be slower due to individual `head_object` requests. Solving the problem by making `describe_objects` as fast as `list_objects` is probably not a reasonable solution, and I wasn't clear in my description that I wasn't proposing that.

Rather, I think the more simple solution is to include more of the information available with `list

[2022-05-11 01:13] bingwork opened #1328 "pyarrow is limit to <7.1.0 and >=2.0.0, if we want to use pyarrow==8.0.0"
### Describe the bug

aws-data-wrangler is a great package, we want to use pyarrow==8.0.0, but now aws-data-wrangler limits pyarrow between <7.1.0 and >=2.0.0. So is there any reason or can it update to pyarrow==8.0.0?

### How to Reproduce

pip install pyarrow==8.0.0
pip install awswrangler==2.15.0

it will cause the error below:
The conflict is caused by:
    The user requested pyarrow==8.0.0

[2022-05-11 11:18] jaidisido commented on #1328
Glad to hear you enjoy the package @bingwork.
Within wrangler, pyarrow is pinned to the specific major versions that we have tested. Pyarrow 8 was released less than 7 days ago. In our next release of the library, we will test this new pyarrow version and pin the dependency to <=8.0.

In the meantime, you can always override/force the install of a package in pip with the `--no-deps` argument:
[cod

[2022-05-11 11:18] #1328 closed

[2022-05-12 03:28] Alcefilho opened #1330 "[Support Data Wrangler]: Infomach"
Thank you for letting us use your organization's name on the Data Wrangler read.me page and letting other customers know that you support the project!  If you would like us to also display your organization's logo. please raise a pull request to provide an image file for the logo.

Please add any files to *docs/source/_static/*

Organization Name: Infomach
Your Name: Alcebiades Filho
Your Position

[2022-05-12 06:55] koberghe opened #1331 "quicksight.create_athena_dataset errors when varchar has specified length"
When an athena column is of type varchar with a specified length (e.g. `varchar(9)`), `quicksight.create_athena_dataset` produces the error "_Unsupported Athena type_". This happens because [athena2quicksight](https://github.com/awslabs/aws-data-wrangler/blob/492c521e720c8f08615049265665cc509aedef83/awswrangler/_data_types.py#L331) only considers varchar without specified length.

I would expect `

[2022-05-12 09:38] jaidisido commented on #1330
Added to the readme, thank you for the contribution

[2022-05-12 09:38] #1330 closed

[2022-05-12 14:56] kukushking commented on #1327
There's all sorts of strange issues when using extension types in indexes in pandas `1.4.*` i.e. [this](https://github.com/pandas-dev/pandas/issues/46507) as well.

Let's see if above fix helps with this particular case & doesn't break anything else

[2022-05-13 01:54] bingwork commented on #1328
@jaidisido thanks for your detailed reply. I didn't find a requirement.txt in the project, so how I can make sure you "pin the dependency to <=8.0"?

[2022-05-13 02:10] bingwork commented on #1328
I find the PR in https://github.com/awslabs/aws-data-wrangler/pull/1321/commits/343a464d50156f4bff5c0984d094729cb091e3e5 thanks.

[2022-05-13 09:37] #1308 closed

[2022-05-13 11:09] #1331 closed

[2022-05-13 15:14] malachi-constant commented on #1325
Codebuild unit tests external job now working for PRs and pushes against `base:wrangler-3.0.0`. Tests will need to be labeled and `psutil` discovery work will need to be completed.

[2022-05-14 22:46] allandsouza commented on #895
Is any one working on this? If not, let me know if I can submit a pull request for this change.

Also, just wondering what the expectation is around the below:
1. Ability to return all rows.items from dynamodb table v/s having the ability to filter based on partition key. The difference is between using scan v/s query. I think the former should meet this requirement.
2. setting datatypes for the d

[2022-05-16 07:45] snikolakis commented on #895
Hello @allandsouza , I am currently working on this, but haven't created a PR yet.

My take on this (but haven't discussed with moderators of the community) is:

1. My guess is that there will be mostly queries like `select * from dynamo_table` and thus a scan may be more appropriate for the task, although query in generally is more cost-effective, we will still need to scan the whole table.
2. Ma

[2022-05-16 08:46] koberghe opened #1340 "quicksight.create_athena_dataset(): add TagColumnOperation"
**Is your idea related to a problem? Please describe.**
Right now, it's not possible to label columns as geospatial data types when using `quicksight.create_athena_dataset()`. This makes it necessary to set the labels manually using the dataset editor in the Quicksight console. It's not a big issue but it would be nice to do this directly when creating the dataset (btw, Quicksight Console infers t

[2022-05-16 10:39] thomasniebler opened #1341 "Extending timestream functionalities"
### Discussed in https://github.com/awslabs/aws-data-wrangler/discussions/1337

<div type='discussions-op-text'>

<sup>Originally posted by **thomasniebler** May 16, 2022</sup>
In our project, we use timestream as the central database for time series data. We manage several databases and tables inside there. When querying timestream in Sagemaker studio, we'd like to look up some tables without inv

[2022-05-17 00:14] #582 closed

[2022-05-17 00:14] #640 closed

[2022-05-17 00:14] #675 closed

[2022-05-17 00:14] #685 closed

[2022-05-17 00:14] #837 closed

[2022-05-17 00:14] #845 closed

[2022-05-17 00:14] #873 closed

[2022-05-17 00:14] #910 closed

[2022-05-18 08:09] Ada-Nick opened #1344 "SHOW queries in aws timestream bug"
### Describe the bug

When running:
[code]
The query fails to execute with error:

### How to Reproduce

[code]

### Expected behavior

Return a pandas dataframe with a single column containing all the measures from my table

### Your project

_No response_

### Screenshots

_No response_

### OS

Win

### Python version

3.9.7

### AWS DataWrangler version

2.15.1

### Additional context

_No res

[2022-05-18 16:31] cshumaker-irb opened #1347 "wr.s3.read_csv() should support single-file paths more explicitly"
**Is your idea related to a problem? Please describe.**
I ran into a weird issue trying to read CSV files generated by Athena while using the awswrangler.s3.read_csv() method. I kept getting errors about file encodings. I tested the CSV files and opened support cases and of course, they were in 'UTF-8'. However, after some debugging, I found that the awswrangler library was also finding the metada

[2022-05-18 16:55] kukushking commented on #1347
@cshumaker-irb Can you clarify what you mean by "assume a single file path"? If you pass a complete object key it will read that object, If you pass a prefix, it will read all objects under that prefix - I think that's a fair intuitive expectation.

You can ignore objects (like Athena metadata that's causing issues in your case) by using `path_ignore_suffix` parameter and filter suffixes using `pa

[2022-05-18 17:51] cshumaker-irb commented on #1347
Hi @kukushking, thanks for looking into this. Between a quick note in the documentation and the athena.read_execution_results(), I doubt anyone will run into this problem.

The reason I ran into it is that I wasn't thinking about the metadata files while starting to work with the read_csv() method and while trying to debug the error, was trying to understand why the CSV would cause a decoding erro

[2022-05-18 18:52] malachi-constant commented on #1315
Sure, I like that idea, I'll relabel this issue and add to the roadmap.

[2022-05-18 22:18] laithalsaadoon opened #1348 "Accept a PartitionStrategy for Neptune property graph loading"
**Is your idea related to a problem? Please describe.**
In development, I would like to have logically separate property graphs so I can use a single AWS Neptune cluster for multiple development flows/features/tests. `neptune.to_property_graph` could have a parameter to support [PartitionStrategy](https://tinkerpop.apache.org/docs/current/reference/#partitionstrategy).

**Describe the solution you

[2022-05-19 09:07] jaidisido commented on #1348
Ping @bechbd

[2022-05-19 09:28] #1327 closed

[2022-05-19 18:07] dhorkel commented on #1320
@jaidisido

In my use case, all paths aren't always under the same prefix. If my path is `s3://my-bucket/year/month/day/hour/<some_hash>.parquet`. The hash is based on an id and date time so I can generate what the hashes should be if the file exists, but a generic prefix won't cover it.

If I could re-engineer the data lake I would, it's outside my control.

Currently the fastest solution I found

[2022-05-20 16:28] AlistairDow opened #1352 "Unable to use a schema with a -"
### Describe the bug

The bug occurs when calling a schema with a - (minus symbol) in it

{'S': 'ERROR', 'C': '42601', 'M': 'syntax error at or near "-"', 'P': '20', 'F': '/home/ec2-user/padb/src/pg/src/backend/parser/parser_scan.l', 'L': '714', 'R': 'yyerror'}

This has been run and tested in a lambda function

### How to Reproduce

[code]

### Expected behavior

  wr.redshift.to_sql(

[2022-05-20 22:01] bechbd commented on #1348
@laithalsaadoon Do you have a proposed way that we would want to implement this from the client?  I am not sure I would want to explicitly expose the PartitionStrategy object out to the end user.

[2022-05-21 21:18] romin-ebrahimi commented on #644
Even when using use_threads = True, loading and writing data with awswrangler is extraordinarily slow. I have data partitioned by day and awswrangler takes at least 10x longer to read data than directly loading the parquet files.

[2022-05-22 21:03] #1032 closed

[2022-05-23 08:41] #1341 closed

[2022-05-23 14:46] Pawel-Grochowicz opened #1354 "DASK support - allow to use parallelism for pandas"
Extend AWSWrangler to support DASK - advanced parallelism for data analytics. This project works as an additional layer over the pandas project.
Profit - better usage of computing resources
https://dask.org/

[2022-05-23 20:47] singhksandeep25 commented on #529
Recreating the column in redshift using varchar(max) as column type will solve the issue

[2022-05-23 21:26] laithalsaadoon commented on #1348
Not exactly sure how it would be implemented from the client, since it seems the traversal is instantiated later. I'm happy to take a stab at it, but wanted to make sure it was something that was applicable aws wrangler from a vision point-of-view.

[2022-05-25 06:30] mchels opened #1357 "Layer 5 does not exist, layer 4 does"
### Describe the bug

From https://aws-data-wrangler.readthedocs.io/en/stable/layers.html I would expect the layer `arn:aws:lambda:eu-central-1:336392948345:layer:AWSDataWrangler-Python39:5` to exist. However, fetching from the command line shows that version 4 exists, but I get an AccessDeniedException for version 5.

### How to Reproduce

[code]

### Expected behavior

I would expect to be able

[2022-05-25 11:06] jaidisido commented on #1357
There are some incorrect layer version entries on the stable version of the documentation. They have been fixed in the [latest](https://aws-data-wrangler.readthedocs.io/en/latest/layers.html) version so please use that list instead.

Documentation versions are immutable so we can't change old pages. However it will be fixed in our next release.

[2022-05-25 11:06] #1357 closed

[2022-05-25 13:52] vgkowski opened #1358 "Consistent Lambda Layers versions across regions"
**Is your idea related to a problem? Please describe.**
Currently, the lambda layers versions (the latest digit in the layer ARN) are not the same for each region:

`arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python39:5` for eu-west-1
`arn:aws:lambda:eu-west-2:336392948345:layer:AWSDataWrangler-Python39:3` for eu-west-2

Additionally, some versions are not available in all the reg

[2022-05-25 17:16] maxdavidson91 commented on #1352
To replicate this issue, you would have to use the `wr.redshift.to_sql` method with `mode` set to "upsert" and a `schema` that contains a hyphen (`-`)

I haven't tested this myself, but it appears the issue is due to `{schema}` and `{table}` not being wrapped in double quotes like they are elsewhere.

Example:
`insert_sql = f"INSERT INTO {schema}.{table} SELECT * FROM {temp_table}"`

This is the c

[2022-05-31 10:14] kukushking commented on #1344
Hi @Ada-Nick looks like wrangler timestream module doesn't yet know how to interpret arrays e.g. multiple dimensions per measure in this case. Worst case we can cast nested structures to an object or expand it to multiple rows (which won't be possible in all cases)

[2022-05-31 14:02] kukushking commented on #1344
@Ada-Nick Please see if that works for you
[code]

[code]

[2022-05-31 16:50] #1358 closed

[2022-05-31 21:52] #1352 closed

[2022-06-01 23:22] malachi-constant opened #1371 "mypy version: 0.960 errors"
### Describe the bug

New version of `mypy:0.960` throws the following error on 2 year old code:

[code]

It is possible this can be safely removed, but futher investigation should be performed to evaluate any impact of removing this cast.

### How to Reproduce

[code]

Static checks Github Action or running `./validate.sh` with mypy version 0.960 will produce the above error.

### Expected behavi

[2022-06-03 14:04] jrnhofman opened #1374 "Unable to query layer in eu-west-1"
I'm unable to query layer version for the aws-data-wrangler layer for python3.7. I'm authenticated with an account located in eu-west-1 and can query other public layer ARNs in the region just fine.

Input:
`
aws lambda get-layer-version-by-arn --arn 'arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python37:6'
`

Output:
An error occurred (AccessDeniedException) when calling the GetLay

[2022-06-03 14:38] jaidisido commented on #1374
Duplicate of https://github.com/awslabs/aws-data-wrangler/issues/1357

[2022-06-03 14:38] #1374 closed

[2022-06-06 11:13] Ada-Nick commented on #1344
Great thanks

[2022-06-06 12:15] #1344 closed

[2022-06-06 16:35] #1325 closed

[2022-06-07 16:27] kukushking commented on #1371
Mypy's `cast()` returns the value [unchanged](https://docs.python.org/3/library/typing.html#typing.cast) so it should not have any runtime impact. Most likely this was added because `path_root: Optional[str]` in the function args and it would complain about unhandled `None` case

[2022-06-07 17:08] thomasmeyler opened #1379 "store_parquet_metadata() with an entire NULL object column"
Much like like issue https://github.com/awslabs/aws-data-wrangler/issues/524#issue-790819816 I was wondering whether there was a way to override this error. I have a column that is nearly (99.9% of the time) and it would be great to be able to 'set/override the dtype to a string.

`res = wr.s3.store_parquet_metadata(
    path=path',
    database="database",
    table="table",
    dataset=True,

[2022-06-08 09:10] #1371 closed

[2022-06-08 11:36] vgkowski commented on #1358
In that case why are there gaps in the versioning? For example in eu-west-1, we have:

`arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python38:7`
and `arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python38:4``

but no `arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python38:6`
no `arn:aws:lambda:eu-west-1:336392948345:layer:AWSDataWrangler-Python38:5`

[2022-06-09 09:43] kukushking opened #1383 "Neptune - awswrangler.exceptions.QueryFailed: Connection was already closed"
### Describe the bug

Opening on others behalf

[code]

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Unix

### Python version

3.9

### AWS DataWrangler version

2.15.1

### Additional context

Running in a Lambda env, client created outside handler

[2022-06-09 11:38] #1315 closed

[2022-06-09 13:40] kukushking commented on #1383
Looks like everything is ok with the sessions as I can't reproduce this in my env, however what might be affecting the connections is `clusterQueryTimeoutInMs` setting on the Neptune cluster. If the query runs longer than that, the connection will be closed.

[2022-06-10 09:52] kukushking commented on #1379
To address this `ignore_null` was added to read methods in #1125. Would similar thing work for you?

[2022-06-10 14:40] Taragolis commented on #806
@jaidisido @cnfait - I found wrangler 3.0 in [Milestones](https://github.com/awslabs/aws-data-wrangler/milestone/25)
So, probably it is a good time to change formatter for Athena queries (breaking changes)?
I could work on this feature

[2022-06-11 23:12] janpio commented on #342
For anyone else finding this issue years later:

This error message is related to a limit in AWS Glue called `Max table versions per table`. It doesn't seem to be documented anywhere, but fortunately is listed on the Service Quotas page and you can request an increase: https://us-east-1.console.aws.amazon.com/servicequotas/home/services/glue/quotas/L-071ABE08 It seems to be one of those quotas tha

[2022-06-14 18:36] oceanchow opened #1391 "when use read_sql_query to get data if it exist special character "£""
Hi guys,
Thanks for your hard work to let this lib easily to use.
here is my question
when I use a 3rd package using pyathena, it works and return right data, while it can't work when I use below codes

after search settings in AWSDATAWrangler about encoding, unfortunately, nothing can solve my problem, could you please help me with it? Thanks.

[2022-06-14 19:06] Ritish-Madan commented on #769
Yes, This is happening with me in AWS Wrangler

I have a Parquet file with 5000 rows, and want the file in chunks of 1000. It throws me

`Length mismatch: Expected axis has 1000 elements, new values have 5000 elements
`
Where 1000 being my chunk size and 5000 being my total rows in parquet file.

The script looks like :
[code]

**Note: I have ensured the file path is correct and this works fine in

[2022-06-15 12:02] tsaluszewski opened #1394 "wr.timestream.query raises ValueError("No objects to concatenate") for valid query with no results"
### Describe the bug

`wr.timestream.query` raises `ValueError("No objects to concatenate")` for valid query with no results.

`
  File "/home/tsaluszewski/miniconda3/envs/semioticlabs-dev/lib/python3.8/site-packages/awswrangler/timestream.py", line 268, in query
    return pd.concat(result_iterator, ignore_index=True)
  File "/home/tsaluszewski/miniconda3/envs/semioticlabs-dev/lib/python3.8/site-

[2022-06-15 12:50] tsaluszewski opened #1395 "wr.timestream.query should allow to return pure list of python objects instead of being limited to pandas DataFrame"
**Is your idea related to a problem? Please describe.**
We do operate on our custom domain objects (mainly data classes) between different layers / lambdas in the application.
We are using `wr.timestream.query` to retrieve data from AWS Timestream, but as it returns pandas DataFrame we have to deserialize it back to python objects. It unnecessary takes up more memory than needed and is inefficient

[2022-06-15 13:10] jaidisido commented on #1395
Hi @tsaluszewski, thank you for the suggestion, however as the name implies, the library is about "Pandas on AWS". The vast majority of the API calls start or end with a Pandas dataframe, it wouldn't make sense to have exceptions for some of them. Glad you managed to develop a faster implementation, don't hesitate to submit a PR if you feel it would be beneficial. Cheers

[2022-06-15 13:10] #1395 closed

[2022-06-15 13:14] kukushking commented on #1395
In terms of optimisation every result page is separately [converted](https://github.com/awslabs/aws-data-wrangler/blob/f2d9299011fd3df66432d53760d363a5b2eec814/awswrangler/timestream.py#L164) to a DataFrame and then concatenated so there is definitely potential for optimisation there

I do agree with @jaidisido though this library is an integration between Pandas and AWS and we would not want to c

[2022-06-15 13:21] jaidisido commented on #1391
When setting `ctas_approach=False`, a [regular query](https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.athena.read_sql_query.html#awswrangler.athena.read_sql_query) against athena is started and the results are stored as CSV in S3 before being read.

Special characters have caused [issues](https://github.com/awslabs/aws-data-wrangler/issues/1156) in the past in a CSV, but a fix

[2022-06-15 16:41] oceanchow commented on #1391
Thanks Jaidisido, I will make some tests accordingly.

[2022-06-15 17:19] oceanchow commented on #1391
seems option1 don't work for me:(, but option2 works.
Hope you guys can publish a new version soon. Thanks @jaidisido

[2022-06-15 17:19] #1391 closed

[2022-06-15 17:38] malachi-constant commented on #1358
Hi @vgkowski, unfortunately due to how we manage these layers there was incident where layers had to be recreated (deleting current version and creating a new and incremented version). This should not happen in the future as we continue to increment.

Take a look at our [Serverless Applicaction Repository (SAR) apps](https://aws-data-wrangler.readthedocs.io/en/stable/install.html?highlight=sar#ser

[2022-06-15 18:05] malachi-constant commented on #629
Keeping open.

[2022-06-16 10:02] kukushking commented on #1394
Thanks, would you be ok with an empty dataframe?

[2022-06-16 10:25] kukushking commented on #769
@Ritish-Madan the fact that it works in 1.8.1 does give me additional info to be able to investigate this -- I'll have a look at what's  changed, thanks!

[2022-06-16 15:06] snikolakis opened #1398 "An error occurs when trying to search within multiple fields of an OpenSearch domain index with simple_query_string"
### Describe the bug

I am facing an error when trying to search in multiple fields inside an OpenSearch index.

A typical OpenSearch query with `simple_query_string` might look like the following:

[code]

and this could be translated in data-wrangler code to:

[code]
This unfortunately generates the following error: `Only a column name can be used for the key in a dtype mappings argument.`

When

[2022-06-17 06:59] Ritish-Madan commented on #558
Hi @igorborgest I am using the endpoint like `s3a://`, it still gives me the error.

[2022-06-17 13:48] jaidisido opened #1400 "Support for Athena Iceberg tables"
### Discussed in https://github.com/awslabs/aws-data-wrangler/discussions/1399

<div type='discussions-op-text'>

<sup>Originally posted by **andyadamides** June 17, 2022</sup>
Hi, based on the latest version of AWS Data Wrangler, I cannot see any support for Athena [Iceberg](https://docs.aws.amazon.com/athena/latest/ug/querying-iceberg-creating-tables.html) tables. Is this on the roadmap?

</div>

[2022-06-17 14:47] jaidisido commented on #1400
@andyadamides I had a quick look at this and I am afraid it does not look possible. Athena is not exposing the [API calls](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/athena.html#client) required to replicate what their Iceberg engine is doing as I assume they handle everything internally.

So the only interaction that `awswrangler` can have with Iceberg tables is vi

[2022-06-17 14:47] #1400 closed

[2022-06-18 18:08] lu4 commented on #134
On my end the issue was related to the fact that pandas was already loaded when I installed awswrangler. During installation procedures awswrangler uninstalls the old version of pandas and installs a new one while some of the parts remain resident in memory (probably). Try restarting your instance this should help.

[2022-06-20 21:00] rchalmers-te opened #1404 "Glue Python Shell botocore and s3transfer incompatible"
Hello,

When I try to use this on a glue Python Shell job I am getting the following error about botocore and s3transfer being incompatible. Is this something on my end causing this? I am using version 2.14.0

ERROR: awscli 1.16.242 has requirement botocore==1.12.232, but you'll have botocore 1.26.10 which is incompatible.
ERROR: awscli 1.16.242 has requirement s3transfer<0.3.0,>=0.2.0, but you'll

[2022-06-21 04:00] b-y-f opened #1405 "How does append mode of write_parquet worked?"
*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*
S3 does not allow append, so we have to upload new data to replace. Let's say if I want append hourly data to dataset, does that means in the backend it copy original datafile and append new rows and upload to S3 again?

[2022-06-21 04:30] b-y-f commented on #1405
now I'm just write incomming data to s3 plus a schema on read, what is the difference between those two?

[2022-06-21 17:15] AdrianoNicolucci commented on #1400
@jaidisido What about through the aws glue catalog instead of going through AWS Athena in order to read iceberg datasets? AWS has developed an Iceberg connector for aws glue: https://aws.amazon.com/marketplace/pp/prodview-iicxofvpqvsio and I believe we can have iceberg tables in the aws glue catalog.

I feel there is a huge opportunity where people want to interact with iceberg tables in aws but d

[2022-06-21 19:32] malachi-constant commented on #1405
Hi @b-y-f thanks for the question. Could you elaborate on what you are doing with the library? Which methods are you referring to exactly? For example [s3.merge_datasets()](https://aws-data-wrangler.readthedocs.io/en/stable/tutorials/013%20-%20Merging%20Datasets%20on%20S3.html?highlight=append)

[2022-06-21 19:40] malachi-constant commented on #1404
Hi @rchalmers-te are you able to share the snippet from `File "/tmp/runscript.py", line 211, in` I'd like to see if we can understand why we are getting the exception: `Unknown parameter in input: "ExcludeColumnSchema", must be one of: CatalogId, DatabaseName, TableName, Expression, NextToken, Segment, MaxResults`

[2022-06-21 22:17] b-y-f commented on #1405
Ok, Im reffering [parquet append](https://aws-data-wrangler.readthedocs.io/en/stable/tutorials/004%20-%20Parquet%20Datasets.html) method. I am currently want to meantain a database and every hour some new rows needs to be inserted, if i turn 'append' mode on, does the parquet file in s3 be deleted and write again and again or it just add new parquet file under the path and update dataset only?

[2022-06-21 23:00] b-y-f commented on #1405
Just Found:

What if there are some duplicated rows, does it just ignore it and append in the end?

[2022-06-21 23:40] bechbd opened #1406 "Neptune to_property_graph() errors writing edges to 1.1.1.0"
### Describe the bug

When running against the 1.1.1.0 version of Neptune, an error is occurring when writing edge files.  This is because the cardinality was being improperly set to "set" for edge properties, which is not supported in TP.  This was not throwing an error in earlier versions, but does in the new version.

### How to Reproduce

Write an edge dataframe with a property

### Expected b

[2022-06-22 01:20] malachi-constant commented on #1405
Yea it will just append them at the end.

For example the following script:

[code]

Will yield a dataset
[code]

[2022-06-22 08:45] cnfait commented on #629
This took a while but Oracle support has now been merged in the main branch. It will be part of the next release scheduled this week.

When it does, please let us know if you encounter any issue or if it behaves like you would expect!

[2022-06-22 08:45] #629 closed

[2022-06-22 13:43] rchalmers-te commented on #1404
Thanks for getting back to me @malachi-constant ! Turns out the problem was in the way I was calling one of the data wrangler functions. The log ended up pointing me in the wrong direction. Got it sorted now.

[2022-06-22 13:43] #1404 closed

[2022-06-22 14:25] josemfsantos97 commented on #1404
Hello @rchalmers-te, could you please elaborate a bit on what was leading the job to throw the error?

I'm currently having the same issue while trying to write to parquet with `mode="overwrite"`.

[2022-06-22 14:38] rchalmers-te commented on #1404
Hey @josemfsantos97 . So the line that was causing the problem was indeed trying to write to parquet with the overwrite flag set. Specifically it was the function s3.store_parquet_metadata. Unfortunately I don't have a fix to offer you as a quick test using the append flag instead showed that this function wasn't going to solve the problem I was trying to solve even if I got the overwrite flag wor

[2022-06-23 07:23] robert-schmidtke opened #1411 "pq_file.schema.names(): TypeError: 'list' object is not callable"
### Describe the bug

When using `validate_schema=True` to read parquet files, [PyArrow Schema.names](https://arrow.apache.org/docs/python/generated/pyarrow.Schema.html#pyarrow.Schema.names) is called, even though it is an attribute: https://github.com/awslabs/aws-data-wrangler/blob/2.16.0/awswrangler/s3/_read_parquet.py#L486

This was introduced with the most recent release.

### How to Reproduce

[2022-06-23 07:55] samuelefiorini commented on #558
Hi @igorborgest, it looks like timestream endpoint is not currently supported. Any plans to add it in the near future?

Cheers

[2022-06-23 16:12] malachi-constant commented on #1411
@robert-schmidtke Appreciate you spotting this

[2022-06-23 18:48] #1411 closed

[2022-06-24 09:29] oeN opened #1413 "ValueError when using opensearch.index_df with documents with an array field"
### Describe the bug

When I try to index a data frame that contains documents with array fields I receive this error:

[code]

### How to Reproduce

Code that triggers the error:
[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Mac

### Python version

3.9.12

### AWS DataWrangler version

2.16.0

### Additional context

_No re

[2022-06-24 12:54] ben-w1 opened #1414 "Timestream endpoint url not present"
We are using wrangler in a lambda within a vpc to communicate with timestream. When trying to connect to timestream using vpc  endpoints we are unable to connect due to not being able to set the endpoint url for timestream.

We would like to request enabling timestream-write and timestream-query url endpoints so wrangler can be used to connect to timestream using vpc endpoints as mentioned in this

[2022-06-27 10:08] informatica92 commented on #1394
I think that it would be even better

[2022-06-27 15:04] #1258 closed

[2022-06-27 22:48] malachi-constant commented on #1414
Hi @ben-w1 thanks for bringing this to our attention. Personally, I'm in agreement that this is a necessary enhancement and we will get this on the roadmap.

[2022-06-28 05:36] nadeem-lalani opened #1425 "All the read the docs link seem to not work"
### Describe the bug

All the read links on the page , https://github.com/awslabs/aws-data-wrangler seems to be browken,
example: https://aws-data-wrangler.readthedocs.io/en/2.16.1/what.html

### How to Reproduce

[code]
Navigate to the aws data wrangler github page  https://github.com/awslabs/aws-data-wrangler
Click on any read the docs links, for example: https://aws-data-wrangler.readthedocs.io

[2022-06-28 06:45] samuelefiorini commented on #558
Meanwhile a dedicated issue has been opened #1414

[2022-06-28 10:48] kukushking commented on #1425
Hi @nadeem-lalani thanks for raising this - 2.16.1 release is in progress, the links should be working as soon as we publish the release on GitHub. Meanwhile please use /stable /latest or /2.16.0

[2022-06-28 13:25] nadeem-lalani commented on #1425
got it thanks !!!

[2022-06-28 13:47] snikolakis commented on #1398
Thank you for the quick response and sorry for my delayed one. I tested this again today and found out that it worked perfectly.

I'm closing this as there seems to be no bug, I'm not sure what went wrong when I reported this issue.

[2022-06-28 13:47] #1398 closed

[2022-06-28 16:50] malachi-constant commented on #1425
Links now working for `2.16.1`

[2022-06-28 16:50] #1425 closed

[2022-06-29 11:15] robert-schmidtke opened #1426 "validate_schema=True breaks with partition columns and dataset=True"
### Describe the bug

Sorry, it's me again, and again about the error on missing columns: https://github.com/awslabs/aws-data-wrangler/pull/1370

When using `dataset=True` and non-empty `partition_colums`, `validate_schema=True` and non-empty `columns` fails because partition columns are removed from the dataframe before writing.

Is this now intended behavior? As someone using partitioning and da

[2022-07-01 16:50] malachi-constant commented on #1426
Thanks @robert-schmidtke for keeping us on top of this. It should be fixed in #1427. We will most likely plan for this in `2.17.x`.

[2022-07-01 18:41] robert-schmidtke commented on #1426
Thanks for addressing this right away! I was able to work around the issue on my end, but I'll be eager to test 2.17 once it's out :)

[2022-07-01 21:16] Menniti opened #1428 "Cannot import awsrangler on Glue docker"
Hello,

I have installed the awsrangler on Glue Docker
With python 3.7.10
But I cannot import the conf for some reason. But I do have credentials setup there
![Screenshot from 2022-07-01 18-10-36](https://user-images.githubusercontent.com/15658494/176968722-08c167d6-654b-4b8a-bf61-1887b6b2c510.png)
![canvas](https://user-images.githubusercontent.com/15658494/176968741-8a72e09c-8f0f-4bf4-aa83-2dd3d

[2022-07-03 15:03] #1197 closed

[2022-07-04 11:59] Menniti commented on #1428
@malachi-constant may you could help me with
thanks

[2022-07-04 12:41] jaidisido commented on #1428
By default, boto3 will check the `~/.aws/config` location (see [here](https://stackoverflow.com/a/60495453/8178963)). Could you check what is the value of `AWS_CONFIG_FILE` environment variable within the docker image? If it does not match `/home/glue_user/` you could force it to be that value. Sharing a snippet of your `~/.aws/config` would also be helpful

[2022-07-04 12:49] jaidisido commented on #895
Addressed by PR #1390 many thanks @snikolakis

[2022-07-04 12:49] #895 closed

[2022-07-04 12:50] #1406 closed

[2022-07-04 15:16] Menniti commented on #1428
Obs: I have retested and the error remains the same

[2022-07-04 15:25] #1394 closed

[2022-07-05 15:08] Menniti commented on #1428
Hey @jaidisido

I`ve found the issue, Thanks

[2022-07-05 15:09] #1428 closed

[2022-07-05 16:13] khanvaws opened #1436 "wr.dynamodb.put_items : All items need to contain the required keys for the table."
### Describe the bug

When i am try to insert records into Dynamodb using wrangler its given error and same is working in boto3 without any issue .
I am using AWS lambda python 9 and wrangler layer 9

**Table details :**
Partition key
pk (String)
Sort key
sk (String)
Capacity mode
On-demand

**Code**

 wr.dynamodb.put_items(
    items={'pk': '35','sk':  'aws'},
    table_name='TestTbl'
    )

**Er

[2022-07-05 16:43] jaidisido commented on #1436
items in `wr.dynamodb.put_items` is expecting a list, not a dictionary

[2022-07-05 17:08] khanvaws commented on #1436
Thanks , After add List it start working

           wr.dynamodb.put_items(
                   items=[{'pk': '35','sk': 'aws'}],
                   table_name='TestTbl'
             )

[2022-07-05 17:09] #1436 closed

[2022-07-06 16:25] maxdavidson91 commented on #1413
It appears that `notna(v)`  is causing this error when a `list` object is passed to it.

This is untested, and I'm not sure what impact this would have on the rest of the code base, but the following would fix this specific error:
`yield {k: _deserialize(v) for k, v in document.items() if (type(v)==list and notna(v).any()) or notna(v)}`

[2022-07-07 06:45] im-rathi opened #1442 "Add use_column_names support for awswrangler.redshift.copy API"
When i try to make use of awswrangler.redshift.copy API, the data which is getting inserted has wrong data in target columns., which is not expected.

I could find **'use_column_names'** argument in awswrangler.redshift.to_sql API, but i don't find it in awswrangler.redshift.copy API

it would be nice to have **'use_column_names'** in awswrangler.redshift.copy, so that the data gets inserted as ex

[2022-07-07 10:15] kukushking commented on #1442
Thanks @im-rathi, I linked the related PR

[2022-07-07 11:33] aeeladawy opened #1443 "LOCK parameter in to_sql/copy"
Currently using wr.redshift.to_sql/copy() to store data to redshift in an airflow pipeline, where multiple dags write to the same table.

I run into this serializable isolation error:
`Serializable isolation violation on table`

Using the lock=True parameter: the first dag instance gets stuck at the store data to redshift step, and the rest get held up until they all fail.

Any clue on handling co

[2022-07-07 18:35] malachi-constant commented on #1413
That didn't quite work in my testing as it tries to evaluate  `notna(v).any())` for all values, but the same thinking gave me an idea. Let me test a new change, i'll open a PR.

[2022-07-07 18:45] malachi-constant commented on #1413
@oeN Ok I put a potential fix in, take a look and the other reviewers will weigh in as well.

[2022-07-07 20:16] maxdavidson91 commented on #1413
@malachi-constant casting all values to a numpy array seems like a good idea.
My only concern is that using `notna(v).all()` over `notna(v).any()` may result in data loss.

- `notna(v).all()` will only evaluate to `True` if all values in the array are not `NA`. So if there is one `NA` in the array, the whole array will be dropped
- `notna(v).any()` will evaluate to `True` as long as there is at le

[2022-07-08 09:11] #1442 closed

[2022-07-08 15:05] malachi-constant commented on #1116
Keeping open, will make sure workflow ignores assigned issues.

[2022-07-10 11:14] oeN commented on #1413
@malachi-constant thank you very much!

[2022-07-13 15:54] netomenoci-monoceros commented on #1320
I am currently facing the same issue. Have you find anything faster than using pd.read_parquet in parallel @dhorkel  ?
Maybe downloading using asyncio not to be limited by the number of cores?

[2022-07-14 15:36] malachi-constant opened #1451 "(ci) Test failing intermittently: `test_catalog`"
### Describe the bug

Needs further investigation.

[code]

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Linux

### Python version

3.8

### AWS DataWrangler version

ALL

### Additional context

_No response_

[2022-07-15 15:47] kukushking commented on #1443
Just to help narrow down the problem - what to_sql/copy `mode` are you using? Also, is `lock=True` for both? Would help if you could share the code

[2022-07-18 06:22] nrcjea001 opened #1453 "ModuleNotFoundError: No module named 'awswrangler.s3._describe'; 'awswrangler.s3' is not a package"
### Describe the bug

Unable to import awswrangler

### How to Reproduce

1. conda install -c conda-forge awswrangler=2.16.1
2. import awswrangler as wr

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Amazon SageMaker Data Science Image

### Python version

3.10.4

### AWS DataWrangler version

2.16.1

### Additional context

[2022-07-18 06:54] #1453 closed

[2022-07-18 06:55] nrcjea001 commented on #1453
Had an older version of awswrangler installed. Had to remove it and its dependencies before reinstalling latest version

[2022-07-18 08:21] NoelSAI commented on #769
This issue was also happening for me on the latest `awswrangler` version (2.16.1). After some debugging I discovered that the "length mismatch" error only happens with newer versions of `pyarrow`. I was runnning `pyarrow` 7.0.0, and the error occurs with `pyarrow >= 3.0` (I believe, I don't have the exact breaking version).

The reason why `awswrangler` version 1.8.1 works is that it lists `pyarro

[2022-07-18 09:40] nrcjea001 opened #1454 "TypeError: ClientError.__init__() missing 1 required positional argument: 'operation_name'"
### Describe the bug

Type error when running a sql query on an RDS DB using Data API.

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Amazon SageMaker Studio (see additional context)

### Python version

3.10.5

### AWS DataWrangler version

2.16.1

### Additional context

Amazon SageMaker
Image: Data Sc

[2022-07-18 11:15] kukushking commented on #1454
Looks like something is wrong with your query however due to a bug in wrangler it obscures the original exception. Addressed in #1457

[2022-07-18 21:05] viniciusmantegazine opened #1459 "awswrangler.s3.copy_objects accept two different regions"
I need to copy files from a source bucket on one region to another bucket on a different region.

Currently this function supports copying files to the same region, it would be interesting to have the parameter of source and target bucket.

E.g.: new parameters, boto3_session_source and boto3_session_target

[2022-07-19 02:06] leandroroser commented on #1454
Hi @kukushking . I'm from @nrcjea001  team. Tested locally with DBeaver and no connection issues. Is this a bug in SageMaker?

[2022-07-19 08:32] jaidisido commented on #1459
I am not sure what makes you think that the method is specific to a given region or account. There is no need for two separate boto3 sessions. As long as the credentials you are using have `GetObject` permissions on the source bucket and `PutObject` on the destination, the call should succeed not matter the region or the account. An even more detailed explanation is available [here](https://stacko

[2022-07-19 09:09] #1459 closed

[2022-07-19 15:58] kukushking commented on #1454
Hi @leandroroser no I don't think so. But the fix was just merged to main so you can give it a try to install from main like below:

[code]

With this fix you should be able to re-run your code and see what was the original exception

[2022-07-19 20:22] malachi-constant commented on #1306
Confirmed working: https://github.com/awslabs/aws-data-wrangler/pull/1461

[2022-07-19 20:22] #1306 closed

[2022-07-20 15:10] karim-soufi opened #1463 "redshift serverless support"
with the general release of redshift serverless comes new functionalities that were not in classic redshift (e.g. workgroup)

will the next release support redshift serverless ?

[2022-07-20 18:26] leandroroser commented on #1454
Thanks @kukushking  , we were able to debug the problem after the fix. Appreciate your time.

[2022-07-21 00:46] malachi-constant opened #1465 "(CI) Wrangler `distributed/_distributed.py` failing mypy checks."
### Describe the bug

(CI) Wrangler `distributed/_distributed.py` failing mypy checks.

[code]

### How to Reproduce

CI

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Linux

### Python version

3.8

### AWS DataWrangler version

3.0.0a1

### Additional context

_No response_

[2022-07-21 11:08] jaidisido commented on #1463
Fair ask, I suggest we simply enable the user to pass any number of arguments to the [redshift_connector.connect](https://github.com/aws/amazon-redshift-python-driver/blob/master/redshift_connector/__init__.py#L86) method, which would include `is_serverless`

[2022-07-21 11:19] jaidisido commented on #1463
Working on a PR, but in the meantime, you can already do this by creating your own connection instead of connecting via awswrangler:
[code]
then use the connection in any wr.redshift method

[2022-07-21 14:28] kukushking commented on #1454
Happy to help! Feel free to reopen if something else pops up

[2022-07-21 14:28] #1454 closed

[2022-07-21 14:30] #1463 closed

[2022-07-21 15:19] #1451 closed

[2022-07-22 09:16] anandshah123 opened #1470 "Wrangler to support Hudi/Iceberg datasets read/write"
**Is your idea related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be good to have support for CDC data lake formats like Apache Hudi, Apache Iceberg or Detla Lake format.

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-07-22 09:39] #1465 closed

[2022-07-22 10:14] jaidisido commented on #1470
Thanks for raising this, two options are currently available in the library to handle CDC operations:
- [AWS Glue Governed Tables](https://aws-data-wrangler.readthedocs.io/en/stable/tutorials/032%20-%20Lake%20Formation%20Governed%20Tables.html)
- Apache Iceberg is natively supported via [Athena](https://docs.aws.amazon.com/athena/latest/ug/querying-iceberg.html), meaning you can use existing `wr.a

[2022-07-22 20:01] Xiangyu-C opened #1473 "wr.catalog.create_database not implementing catalog_id correctly"
### Describe the bug

When calling create_database, the code actually calls boto3.client('glue').get_database first and it only passes in the database name as the argument. It would throw an exception since it will use the default account id as the catalog id. So if you are access cross account catalog, it will be access denied. See source code pasted below (the 2nd line doesn't implement catalog_

[2022-07-24 18:03] #1347 closed

[2022-07-27 15:01] cristianmtr commented on #463
Any update on this? Any possible workaround?

[2022-07-28 19:49] #1473 closed

[2022-07-30 03:37] #1348 closed

[2022-08-01 06:48] Kit-Ok opened #1484 "ValueError: port should be of type int, when connecting MySQL with Secrets Manager"
### Describe the bug

When connecting MySQL with Secrets Manager, `pymysql.connect` method raises the ValueError.

### How to Reproduce

[code]

I could not find the way to specify the data type of the value in Secrets Manager.

### Expected behavior

Successfully connect to MySQL.

I think It's better to cast the port number on [this line](https://github.com/awslabs/aws-data-wrangler/blob/main/aw

[2022-08-01 09:31] #1484 closed

[2022-08-01 09:31] #1414 closed

[2022-08-02 09:02] jaidisido opened #1490 "Enable Ray distribution on read_parquet method"
**Is your feature request related to a problem? Please describe.**
Ensure `wr.s3.read_parquet` runs at scale leveraging Ray

**Additional context**
This is part of the Wrangler @ Scale release

**Links**
- https://docs.ray.io/en/latest/data/key-concepts.html
- https://docs.ray.io/en/latest/data/package-ref.html#creating-datasets
- https://docs.ray.io/en/latest/data/package-ref.html#custom-datasour

[2022-08-02 11:18] ClementSicard opened #1491 "`NoCredentialsError: Unable to locate credentials` with `s3.describe_objects` and a valid `boto3_session` argument"
### Describe the bug

When passed a valid `boto3.Session`, `s3.describe_objects` is able to describe one object but not a list of objects, whereas it is supposed to be supported by the library ([here](https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.s3.describe_objects.html#awswrangler.s3.describe_objects))

### How to Reproduce

In all cases, **a valid session** is provided to

[2022-08-04 20:01] LeonLuttenberger opened #1497 "Issues in the contributing guidelines"
**Is your idea related to a problem? Please describe.**

I found the following issues with the [contributing guidelines](https://github.com/awslabs/aws-data-wrangler/blob/main/CONTRIBUTING.md):

1. When deploying `aws-data-wrangler-databases`, CloudFormation failed when creating the `CodeBuildTestRoleLFPermissions` resource with `Resource does not exist or requester is not authorized to access req

[2022-08-05 10:06] snikolakis commented on #882
Is help still needed for that?

[2022-08-05 15:18] malachi-constant opened #1498 "Consolidate Load Tests in Tests Directory"
*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-08-05 15:24] malachi-constant commented on #882
@snikolakis New methods for dynamo mentioned by @kukushking above are not implemented or on the roadmap at this time, so any contributions would be welcomed!

[2022-08-07 01:30] malachi-constant commented on #1491
Thanks for opening @ClementSicard , I will attempt to replicate and get back to you soon.

[2022-08-08 15:54] malachi-constant opened #1506 "(CI) Ray Load Tests Need Default AWS Region Configured to Run Tests"
### Describe the bug

(CI) Ray Load Tests Need Default AWS Region Configured to Run Tests

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Linux

### Python version

3.8

### AWS DataWrangler version

3.0.0a1

### Additional context

_No response_

[2022-08-08 15:55] malachi-constant opened #1507 "(CI) Ray Load Tests Should Fail when submitted tests fail within `ray_submit`"
### Describe the bug

(CI) Ray Load Tests Should Fail when submitted tests fail within `ray_submit`

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Linux

### Python version

3.8

### AWS DataWrangler version

3.0.0a1

### Additional context

_No response_

[2022-08-08 17:39] malachi-constant commented on #1506
Solved by adding `os.environ["AWS_DEFAULT_REGION"] = "us-east-1"` to our internal test handler.

[2022-08-08 17:39] #1506 closed

[2022-08-08 17:58] malachi-constant commented on #1491
Hmm I am unable to replicate @ClementSicard

[code]

Is there any specific configuration in your session object I can test?

[2022-08-08 19:52] malachi-constant commented on #1507
Solved by handling exit code in internal tests wrapper script.

[2022-08-08 19:52] #1507 closed

[2022-08-08 20:26] pparsineja-chwy opened #1508 "Redundant rows when mode = append"
I wrote a `DataFrame` (cols = product_part_number, date) to S3, using

[code]
Later, I tried to write another set of DataFrame, with same columns, onto the same S3 path using above.
I noticed, I have included some redundant rows in the DataFrame. Thus, I ended up appending those to my dataset (as expected; but not desired).
In another try, I chose mode="overwrite", and it removed all my data in th

[2022-08-08 21:51] pparsineja-chwy opened #1509 "Partitioning using wrnagler slowed down the querying process"
I had a data set uploaded onto S3 and it was not partitioned (and also not a dataset=true; no meta data). I could suucessfully crawl the data using Glue Crawler to create a table and querying data using Athena.

I then tried to partition the data using

res = wr.s3.to_parquet(
    df=df1_sub,
    path="xxx",
    dataset=True,
    mode="append",
    partition_cols=["product_part_number"],
    use_t

[2022-08-09 01:43] londoso opened #1510 "TypeError: __init__() missing 1 required positional argument: 'operation_name'"
### Describe the bug

I got this error when trying to execute a query from RdsDataApi.

### How to Reproduce

`import awswrangler as wr

rds = wr.data_api.rds.RdsDataApi(
    resource_arn= 'my_arn',
    database= 'my_db',
    secret_arn= 'my_arn_secret'
)

rds.execute('select * from pg_tables;')
`

---------------------------------------------------------------------------
TypeError

[2022-08-09 09:38] jaidisido commented on #1510
Duplicate of https://github.com/awslabs/aws-data-wrangler/issues/1454

[2022-08-09 09:38] #1510 closed

[2022-08-09 11:44] AndreyKudryavets opened #1511 "Quicksight create_athena_dataset method has a default name for SQL query which breaks the functional for created datasets"
At the moment `awswrangler.quicksight.create_athena_dataset` assigns the default name to SQL query - 'CustomSQL'. In this setup `sql_name` argument becomes optional, and at least I'd expect that if I don't care about `sql_name` as a user, the library will handle the name for me in a way that there won't be any problems.

In reality, if one creates several datasets with the same name for SQL query,

[2022-08-09 16:49] jaidisido commented on #1510
It should be the same root cause since your error trace ends up at the same point (L91 of rds.py). Can you try to install from source as suggested: https://github.com/awslabs/aws-data-wrangler/issues/1454#issuecomment-1189235301

Hopefully that fix should not obfuscate the exception and you can then debug the actual error

[2022-08-09 17:05] londoso commented on #1510
Actually, I installed from the source as indicated in that comment and I got this error.

[2022-08-09 17:12] jaidisido commented on #1510
Are you sure that you installed from source correctly? As you can see, the latest [code](https://github.com/awslabs/aws-data-wrangler/blob/7917504e056c63aa07a337065143d9994cc59b53/awswrangler/data_api/rds.py#L91) does not even have the `BadRequestException` that you raised originally in the issue. From source, it should raise something else. Perhaps you can make sure to uninstall first or install

[2022-08-09 17:39] #1497 closed

[2022-08-15 12:27] kukushking commented on #1508
No unfortunately wrangler does not automatically remove duplicates when using these modes, as you are explicitly telling it to either write a complete data frame (`append`) or `overwrite` all data in the path.

Ultimately this should be handled in your application code, for example you could read the data in the path using `wr.s3.read_parquet`, join it with the current data frame removing the dupl

[2022-08-15 12:51] kukushking commented on #1509
Are `product_part_number` values unique? It might that you've created a partition per row which is expected to make querying much slower. Generally you should avoid having overly granular partitions and chose partitions that would allow Athena reduce the number of files to scan.

You can read more about partitioning data in Athena [here](https://docs.aws.amazon.com/athena/latest/ug/partitions.html

[2022-08-15 13:11] kukushking commented on #1511
Did you consider overriding `wr.quicksight.create_athena_dataset(..., sql_name="my-name")`? A default name is there for convenience but you still have full control over the name via `sql_name` parameter and can randomize / provide meaningful query names for your queries

[2022-08-15 14:08] AndreyKudryavets commented on #1511
well, obviously there is no problem if you don't use the default argument :)

What I'm saying is that **having** a default value for this argument is at least questionable, and in our case it was harmful. We relied on it, figured that it doesn't work after a few hours of work, spent some time trying to understand what hit us, and then spent some more time fixing it. I think all the hustle could ha

[2022-08-15 18:03] malachi-constant opened #1516 "S3 Delete Tests Failing in Distributed Codebase"
### Describe the bug

S3 Delete Tests Failing in Distributed Codebase

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

Linux

### Python version

3.8

### AWS DataWrangler version

3.0.0a1

### Additional context

_No response_

[2022-08-15 18:04] #1383 closed

[2022-08-15 18:41] AndreyKudryavets commented on #1511
Makes sense, thanks! Let me know if you need a hand with implementation.

[2022-08-15 21:28] #1516 closed

[2022-08-16 02:36] gm42 commented on #821
`urllib3.disable_warnings()` works only for the TLS warnings, it will not suppress the "Connection pool is full" warning; there is no way to suppress those, short of intercepting the log warning messages.

[2022-08-16 12:18] jaidisido opened #1518 "Revisit PyArrow support"
As we are gearing towards release 3.0.0, we should check what runtimes currently support PyArrow 6 and above. Runtimes to check are:
1. Lambda
2. Glue Python Shell
3. Glue PySpark
4. MWAA
5. EMR

[2022-08-16 13:54] kukushking opened #1519 "Distributed Ray wr.s3.write_parquet implementation"
**Is your feature request related to a problem? Please describe.**
Ensure wr.s3.write_parquet runs at scale leveraging Ray

**Additional context**
This is part of the Wrangler @ Scale release

**Links**
https://docs.ray.io/en/latest/data/key-concepts.html
https://docs.ray.io/en/latest/data/package-ref.html#creating-datasets
https://docs.ray.io/en/latest/data/package-ref.html#custom-datasource-api

[2022-08-16 15:08] malachi-constant opened #1520 "(feat): Distributed list_objects / `_path2list()`"
Is your feature request related to a problem? Please describe.
Ensure `_path2list()` runs at scale leveraging Ray

Additional context
This is part of the Wrangler @ Scale release

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-08-16 15:10] malachi-constant commented on #1491
Closing for now as bug cannot be replicated. Please reopen if this issue is persistent and more context can be provided.

[2022-08-16 15:10] #1491 closed

[2022-08-16 15:39] malachi-constant opened #1521 "(ci): add PR validation testing job for changes -> `release-3.0.0`"
We need Codebuild to run _distributed tests_ against PRS against `BASE_REF=release-3.0.0` t

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-08-16 20:05] malachi-constant commented on #1521
Distributed tests are now running against PRs -> `release-3.0.0`. Tested [here](https://github.com/awslabs/aws-data-wrangler/pull/1523).

FYI @jaidisido

[2022-08-16 20:05] #1521 closed

[2022-08-17 16:20] #1498 closed

[2022-08-17 18:09] kukushking opened #1527 "Impossible to set wr.config.distributed"
### Describe the bug

It's currently impossible to set distributed flag to False using config if ray and modin are installed, e.g:
[code]
This happens because `ray.init` runs on package import thus the only way to disable distributed code is to set an environment variable prior to the import.

### Expected behavior

We should provide an ability to disable distributed using wrangler config class.

[2022-08-22 02:27] rmalecky opened #1530 "RedshiftDataAPI: Serverless Support"
The [Redshift Data API](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift-data.html#RedshiftDataAPIService.Client.execute_statement) recently [added support for Redshift Serverless](https://awsapichanges.info/archive/changes/1dd256-redshift-data.html).   `WorkgroupName` can now be specified instead of `ClusterIdentifier`.

Serverless also handles temporary credent

[2022-08-22 16:57] malachi-constant commented on #1520
Improvements to this call seem to negligible or non-existent based on preliminary testing vs. the existing use of `paginator = client_s3.get_paginator("list_objects_v2")`

[2022-08-22 16:57] #1520 closed

[2022-08-22 22:31] #806 closed

[2022-08-23 13:21] jdc891010 commented on #1394
I see quite a few failed builds on the PR, and I am running 2.16.1, with the issues stated above, so I am assuming that there are still a few things to get in order before an updated release?

[2022-08-23 14:43] LeonLuttenberger opened #1536 "Standardize query parameter formatter with PEP249 conventions"
**Is your idea related to a problem? Please describe.**
The recently implemented [parameter formatter](https://github.com/awslabs/aws-data-wrangler/commit/b5889e4f89b87c28ed4c7f72bd1b31f4c92f572f) does not follow [PEP 249](https://peps.python.org/pep-0249/#paramstyle) guidance.

**Describe the solution you'd like**
Instead of parameters being in the `:name;` format, we should use the Python's stan

[2022-08-23 16:18] LeonLuttenberger commented on #1536
My bad, I didn't see that PR.

[2022-08-23 16:18] #1536 closed

[2022-08-24 17:44] LeonLuttenberger opened #1542 "Athena query formatter not working correctly"
What happens if there are two parameters where one is a prefix of the other?

So we have `:date` and `:date2`. When the caller provides parameter values for `date` and `date2`, `date` will replace both of the parameters in the query, except the latter will be suffixed by `2`. We need to make sure we are only replacing full tokens.

For example:
[code]

_Originally posted by @LeonLuttenberger in ht

[2022-08-24 17:50] LeonLuttenberger commented on #1542
Another issue is that this syntax needs to be escapable. A string could contain something like
[code]

In this case, we don't want to treat `:Function` as a parameter which needs to be formatter.

[2022-08-25 10:43] gloriamacia opened #1549 "awswrangler.redshift.copy_from_files does not reproduce all functionalities of redshift COPY command"
### Describe the bug

I am trying to copy some data from a parquet in s3 to redshift. I need to define the order of the columns in the copy command for it to work as it is not the same in all parquet files. It looks to me the following function does not allow it:

https://aws-data-wrangler.readthedocs.io/en/stable/stubs/awswrangler.redshift.copy_from_files.html#awswrangler.redshift.copy_from_files

[2022-08-25 13:36] #1542 closed

[2022-08-25 16:49] kukushking commented on #1549
HI @gloriamacia, there is [column_names](https://aws-sdk-pandas.readthedocs.io/en/latest/stubs/awswrangler.redshift.copy_from_files.html#awswrangler.redshift.copy_from_files) parameter that should enable you to select and order the columns. It will be available in the next release, meanwhile, to test this out you can install from main:

[code]

[2022-08-25 16:53] kukushking commented on #1508
Closing due to inactivity. Feel free to reopen if there are any more questions.

[2022-08-25 16:53] #1508 closed

[2022-08-25 16:54] kukushking commented on #1509
Closing due to inactivity. Feel free to reopen if there are any more questions.

[2022-08-25 16:54] #1509 closed

[2022-08-25 16:57] kukushking commented on #1530
Thanks @rmalecky it definitely makes sense to support that - we'll put that on the roadmap

[2022-08-26 15:03] #1379 closed

[2022-08-26 15:09] LeonLuttenberger opened #1550 "Distributed S3 read_text"

[2022-08-26 15:25] malachi-constant opened #1551 "Ray Logging"
Enable loggers for ray remote functions.

*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-08-27 21:06] sgoghbf1 opened #1553 "942719"
https://t.snapchat.com/zKrpbHEQ

[2022-08-27 21:32] #1553 closed

[2022-08-29 12:18] rcyost commented on #617
Giving a custom name:
[code]
This successfully adds the file to s3 with the custom name.

But it throws an error:
[code]

[2022-08-30 04:31] sgoghbf1 opened #1559 "Check out "Android System Intelligence""
https://play.google.com/store/apps/details?id=com.google.android.as

[2022-08-30 04:32] #1559 closed

[2022-08-30 05:12] sgoghbf1 opened #1560 "J"
https://console.cloud.google.com/support/offerings?pli=1&project=project-5591121812884428813

[2022-08-30 09:09] #1560 closed

[2022-08-30 09:19] #1490 closed

[2022-08-30 15:29] ghinch opened #1561 "Add support for geospatial queries in Athena"
AWS Athena provides support for [querying geospatial data](https://docs.aws.amazon.com/athena/latest/ug/querying-geospatial-data.html). The response can contain specific [geometric datatypes](https://docs.aws.amazon.com/athena/latest/ug/geospatial-input-data-formats-supported-geometry-types.html), which are not presently supported.

[Geopandas](https://geopandas.org/en/stable/) is a geospatial-awa

[2022-08-30 21:37] borodark opened #1562 "s3.merge_upsert_table to work on empty destination"
### Describe the bug

I wonder why the merge upsert is not working if _destination s3_  is empty, when no files in the table's s3 bucket created yet. Somehow I expected to be able to merge into empty database:

[code]

### How to Reproduce

* Create glue table
* Try to call `wr.s3.merge_upsert_table(`

### Expected behavior

success with the first data written to table files

### Your project

_No

[2022-08-30 21:38] LeonLuttenberger opened #1563 "The `ray_remote` function does not support setting options such as `resources` or `max_retries`"
**Is your idea related to a problem? Please describe.**
The currently defined `ray_remote` function does not allow us to define options for the function which it is decorating. For example, I would like to be able to decorate an API blocking function with something like `resources={"CPU": 0.25}`  so that the operation does not consume all a CPU's capacity.

These settings exist on the default [ray

[2022-08-31 00:52] Alexander-Ludwig opened #1564 "Segmentation Fault during Lambda Execution"
### Describe the bug

Hello,

I work in AWS Support and I am raising a Github issue on behalf of a customer.

The customer uses the Lambda Layer for AWS Data Wrangler in their Lambda function to read json files from S3, create panda dataframes using awswrangler and process the file data, create a glue catalog table and store the flattened data files in S3 in parquet format. It was observed that a

[2022-08-31 01:53] sgoghbf1 opened #1565 "Username"
ttps://discord.com/myradioflyer#2128.

[2022-08-31 17:16] #1565 closed

[2022-08-31 17:18] malachi-constant opened #1566 "Support `next_token` in paginated requests to `timestream.query()`"
**Is your idea related to a problem? Please describe.**
Support `next_token` in paginated requests to `timestream.query()`

**Describe the solution you'd like**
Allow calls to `timestream.query()` to support paginated return of DataFrames with a `next_token` to allow client to manage pagination of data returned from timestream.

*P.S. Please do not attach files as it's considered a security risk.

[2022-09-01 20:25] #1550 closed

[2022-09-01 21:29] LeonLuttenberger commented on #1566
It should be possible to add the continuation token into the attrs property of Pandas. Unfortunately, the [docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.attrs.html) says that the feature is experimental and could change at any time.

Another issue is that the boto3 paginator doesn’t return the pagination token either. So essentially we’d need to write our own paginator just t

[2022-09-01 23:04] MattBrauer opened #1568 "Add support for 'tabix' formatted genomics/genetics data"
**Geneticists and genomics scientists cannot natively get data from S3 when it's compressed using the most common format for that data type**
Tabular data in genetics and genomics is often compressed using the so-called "tabix" format. This is a block compressed, gzip-compatible compression that allows indexing into a file by genome position. While the file suffixes are '.gz', and 'gunzip' can be

[2022-09-02 07:51] koberghe opened #1569 "quicksight.create_athena_dataset(): wrong type hint for TagColumnOperation"
### Describe the bug

The parameter` tag_colums` was added in added in [this issue](https://github.com/aws/aws-sdk-pandas/issues/1340) with the type hint:
`tag_columns: Optional[Dict[str, str]]`

I believe it should be
`tag_columns: Optional[Dict[str, list]],`

### How to Reproduce

Using the example `{"col_name": [{ "ColumnGeographicRole": "CITY" }]` from the docs produces a type warning in Pycha

[2022-09-02 14:55] LeonLuttenberger commented on #1562
Hey,

Thanks for submitting this issue. I agree with your idea of the expected behavior. If a Glue table is already defined but empty, we should simply perform an insert.

However, I was not able to replicate the exact error you received. In my testing, the error I received was:
[code]

Can you double check whether you have an empty metadata file in your path that's causing this different error?

[2022-09-02 15:32] LeonLuttenberger commented on #1569
Hey @koberghe. Thanks for pointing out this issue. It should be fixed in #1570. We will most likely plan for this in `2.17.x`.

[2022-09-05 11:30] Dilski opened #1571 "wr.dynamodb.read_partiql_query does not actually use PartiQL"
**Is your idea related to a problem? Please describe.**
The `wr.dynamodb.read_partiql_query` function does not actually use PartiQL and instead does a full table scan, ignoring anything defined in the WHERE clause which is misleading.

**Describe the solution you'd like**
* Docs highlighting this limitation, or renaming this function to not reference `partiql`
* (preferably) Use the PartiQL boto3

[2022-09-05 17:21] jornfranke opened #1576 "Using s3.list_objects with an S3 access point alias returns an empty list"
### Describe the bug

I am using AWS SDK Pandas together with S3 access points. I want to s3.list_objects. As a parameter I provide s3://<ACCESSPOINT_ALIAS> - it returns to me an empty list.

I do the same in boto3 and there list objects indeed returns me the listed objects (a not empty list).

I assume something is broken in AWS SDK Pandas when using it with S3 Access Point aliases.

### How to R

[2022-09-05 23:58] louisdvs opened #1577 "Empty List or Map not handled with Athena"
### Describe the bug

When querying Map/List types with an empty row (e.g. [] or {}) using `ctas=True` or `unload=True` we hit the error:
`Parquet record is malformed: empty fields are illegal, the field should be ommited completely instead`

Using the csv method with `ctas=False` we get an unsupported type error.

Tracing back the parquet error it seems like it is due to a [known Hive bug](https:

[2022-09-06 11:30] kukushking commented on #1566
@LeonLuttenberger @cnfait  Each page [here](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/timestream.py#L157) has `QueryId` and `NextToken`. We can change `_rows_to_df` to add attributes to the data frame it produces if any are passed and pass those attributes if `chunked=True`

[2022-09-06 12:12] kukushking commented on #1561
Thanks, looks like geopandas would handle the heavy lifting, just need to update [datatypes](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/_data_types.py#L336)

[2022-09-06 15:14] #1562 closed

[2022-09-06 16:33] borodark commented on #1562
AWESOME! 10x guys for speed!

[2022-09-06 19:02] LeonLuttenberger commented on #1562
Thank you for bringing this to our attention. We will plan this release for version `2.17.x`.

[2022-09-06 20:32] #1569 closed

[2022-09-07 09:57] kukushking commented on #1571
@Dilski Thanks for opening this, I agree for PartiQL we definitely should use `execute_statement` instead of `scan` - didn't really notice this before. This also is in line with the [best practices](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-query-scan.html).

[2022-09-07 10:22] kukushking commented on #1576
Hi @jornfranke, I am unable to reproduce this - same `list_objects` through an access point works all right in my environment. Any chance something was changed between your tests with aws sdk for pandas / boto3?

[2022-09-07 12:35] kukushking commented on #1577
Hi @louisdvs for csv-based CTAS approach we can at least handle these types including when they're empty by casting to object. These are the results after adding the casting:
[code]

I'll also check if there is something we can do for parquet-based UNLOAD, too

[2022-09-07 14:10] jaidisido commented on #1564
Hi @Alexander-Ludwig, in terms of debugging, my advice would be for the customer to first enable [logging](https://github.com/aws/aws-sdk-pandas#logging) in their Lambda function code. They could add a line for pandas too:
[code]
Hopefully this would give them more visibility into the error.

It's interesting that they haven't encountered this error after upgrading from version 5 of the layer. It

[2022-09-07 14:50] malachi-constant commented on #1571
@Dilski Thanks for offering to contribute. If you aren't able to for any reason please unassign yourself and someone on the team can pick this up.

[2022-09-07 15:15] updiversity commented on #1327
Hi,

it looks like it continues to fail in the case the index has no name.

[code]

[2022-09-07 18:04] Mzhussiyev opened #1582 "compression Error for wr.s3.to_json"
### Describe the bug

When I tried to pass the value to **compression** parameter for s3.to_json method I faced with an error - "_awswrangler.s3._write_dataset._to_dataset() got multiple values for keyword argument 'compression'_".
E.g. The same parameters works with to_csv method but not works with to_json.

### How to Reproduce

[code]

### Expected behavior

As expectation it should create a co

[2022-09-07 18:48] malachi-constant commented on #1571
I would personally prefer a new method with an explicit and appropriate name (i.e. `execute_statement`)

[2022-09-08 06:29] louisdvs commented on #1577
@kukushking That is great, we toyed with a PR but weren't sure if it would align (feels a little clunky to map a list or map to a object but works 🤷 )

It would be great to get something working for CTAS and UNLOAD, but I think the empty List/Map bug it feels like the empty list bug in hive will need to be resolved first, to allow writing the query results out as parquet.

Thanks for your input 👍

[2022-09-08 10:23] kukushking commented on #1577
@louisdvs It does feel very clunky, but I guess it's better than nothing. If you have any alternative idea would be happy to give it a try.

Yep, with regards to CTAS/UNLOAD I agree it's ultimately Hive's issue and there's little we can do, other than obviously avoid writing null arrays/maps in the first place

[2022-09-08 14:33] jaidisido commented on #1571
My vote would go to making the breaking change (i.e. using execute_statement) but releasing it as part of version 3.0.0 and not 2.17

[2022-09-08 16:19] #1582 closed

[2022-09-09 06:11] Mzhussiyev commented on #1582
@jaidisido thanks a lot. Is it already  merged to master? And could you tell me please when these changes will be available in PyPi?

[2022-09-09 08:22] jaidisido commented on #1582
Yes it's merged to the main branch and you should be able to pip install the fix from there. Otherwise it will be available in the next release (2.17.0) in the next few days

[2022-09-09 08:47] marcelmindemann opened #1589 "s3.read_parquet(map_types) handles int and string inconsistently"
### Describe the bug

`awswrangler.s3.read_parquet()` has the keyword argument `map_types`. In my understanding, it should decide whether awswrangler applies dtype mapping on top of the pandas schema that already exists in the parquet header metadata. `map_types=False` should return a DataFrame with exactly the schema that's set in the metadata header. If this understanding is false, this bug repo

[2022-09-09 10:21] #1577 closed

[2022-09-09 15:10] hrpitta opened #1592 "I'm able to write a CSV but not working with a parquet file with a timed out"
I'm trying to write a Parquet in s3 but I'm receiving a time out message. It's a simple test DF. I'm using in AWS Lambda with a Python 3.9 and the datawrangler version 8 layer

 df = pd.DataFrame({
        "id": [1, 2],
        "value": ["foo", "boo"],
        "date": [date(2020, 1, 1), date(2020, 1, 2)]
    })

## Code to parquet not working ##
    wr.s3.to_parquet(
        df=df,
        path=pa

[2022-09-09 15:26] #1592 closed

[2022-09-09 20:55] knowsuchagency opened #1595 "Navbar overflows with the new documentation website"
### Describe the bug

The search form in the navbar overflows on the [new documentation website](https://aws-sdk-pandas.readthedocs.io/en/latest/), covering part of the initial paragraph.

This seems to be caused by the `a.navbar-brand` element of the navbar having more characters than it previously did.

![image](https://user-images.githubusercontent.com/11974795/189442161-bdb5d389-b0a6-4fc5-bc46

[2022-09-10 03:29] arogozhnikov opened #1596 "Postgres JSONB field is (mostly) unsupported"
### Describe the bug

JSONB is an optimized version of JSON inside postgres.
From the point of retrieval, it should behave the same way as normal JSON field.

While trivial fields are retrieved normally, fields with non-heterogeneous data (e.g. list with number and string, or mapping with heterogeneous types of values; see example below) can't be read using wrangler (while other tools handle it no

[2022-09-12 15:23] malachi-constant commented on #1595
Looks like Chrome can handle, but yes this is an issue in Safari, Firefox and potentially other browsers.

<img width="1722" alt="Screen Shot 2022-09-12 at 8 21 18 AM" src="https://user-images.githubusercontent.com/6465221/189692661-fa920e14-758c-462b-b645-81b3829bcafe.png">

[2022-09-13 21:27] malachi-constant commented on #1568
Hi @MattBrauer can you help us replicate your scenario? You mention using pandas' `read_csv` method, but I get an error when using `bgzip` as the compression value.

[code]

[2022-09-15 02:22] tthomps21 opened #1610 "wr.catalog.delete_all_partitions parameter error"
### Describe the bug

Making a call to `wr.catalog.delete_all_partitions` is resulting in the following`botocore.exceptions.ParamValidationError` exception message:
[code]

### How to Reproduce

1. Create partitioned table in glue
2. Add partitions to the table
3. Call `wr.catalog.delete_all_partitions` for the created table.

### Expected behavior

`wr.catalog.delete_all_partitions` deletes all t

[2022-09-15 02:45] #1610 closed

[2022-09-15 09:31] #1530 closed

[2022-09-16 07:09] vpietilainen opened #1612 "Inconsistent argument names"
Argument names seem inconsistent. In `athena.read_sql_query` we have arguments `database` and `ctas_database_name`, whereas in `athena.create_ctas_table` we have `database` and `ctas_database`. It seems that `_name` suffix would not be necessary.

In addition it would be nice if `ctas_database` could be read from environmental variables.

[2022-09-16 08:34] jaidisido commented on #1612
Appreciate that the names are inconsistent across the methods, however changing them would be a breaking change for users. We might want to consider it in our next major version (3.0).

[2022-09-16 10:04] jaidisido commented on #1589
Thanks for raising this @marcelmindemann. I can confirm that this is an issue in the current `awswrangler` versions. It stems from the fact that we don't give enough flexibility to the user when it comes to converting from an arrow table to a pandas DataFrame. As you can see [here](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/s3/_read_parquet.py#L313), we enforce `ignore_metadata=Tr

[2022-09-16 12:06] jaidisido commented on #1596
AFAIK, this is not possible at the moment. In AWS SDK for pandas, data type conversion on read for postgres (and other databases) follows this approach: python type -> inferred arrow type -> pandas type. [Here](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/_databases.py#L143) is where the first conversion from python type to arrow is done. At the moment, pyarrow does not [handle](htt

[2022-09-16 12:24] alekya1024 opened #1613 "projection partitions in s3 to_parquet method"
### Describe the bug

I am using s3 to_parquet method to create a table in Glue catalog and store the data in the S3 bucket. I want to maintain partitions in my s3, and for them to be dynamic I need projected partitions.

**Requirements/Expectations:**
1/ partition format should be yyyy/MM/dd
2/ object prefix --> s3-bucket-name/folder1/folder2/yyyy/MM/dd
3/ My table should have a partition column

[2022-09-16 15:16] #1519 closed

[2022-09-16 15:30] #1549 closed

[2022-09-16 17:05] #1595 closed

[2022-09-16 19:28] malachi-constant opened #1615 "Tutorial: Run SDK for pandas job on ray cluster."

[2022-09-16 19:41] MattBrauer commented on #1568
Hello. The `bgzip` format is compatible with `gzip`, so pandas' `read_csv` can be used successfully with `gzip` compression. I'd like it to be possible to do the same with awswrangler.

[2022-09-16 22:00] arogozhnikov commented on #1596
I see where problem comes from.

It should not be expected that pyarrow will ever change this behavior (they do not have tuple-like primitive and there is no reason to introduce one).

If you don't consider changing pyarrow (very unlikely), the right solution would be allowing to have a parameter that would enforce keeping some json fields as string/bytes, not parsing them to pythonic structures.

[2022-09-19 10:06] gloriamacia opened #1620 "how to create s3 lifecycle rules with wrangler"
I would like to delete old files from an s3 bucket. More precisely, any file in a certain path e.g. `s3://dev-gps-lh-s3-insights/archives/` which was PUT more than 1 week ago, should be deleted.

This can be easily done with a lifecycle rule in the UI as shown in this tutorial: https://lepczynski.it/en/aws_en/automatically-delete-old-files-from-aws-s3/

**Does wrangler support this?** I could not

[2022-09-19 10:44] jaidisido commented on #1620
Putting a lifecycle configuration is already covered in [this boto3 call](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.put_bucket_lifecycle_configuration) and I am not sure what the added value of covering it in the AWS SDK for pandas would be

[2022-09-19 10:44] #1620 closed

[2022-09-19 16:41] arogozhnikov commented on #1596
@malachi-constant why is the issue closed?

Json is not a rare field type, and no solution/workaround was suggested.

[2022-09-19 16:49] malachi-constant commented on #1568
OK, so you are using `pandas.read_csv(.., compression="gzip")` after copying file to local today?

[2022-09-19 19:13] MattBrauer commented on #1568
That is correct. That's a reasonable workaround, but it would be nice to have `wr.s3.read_csv` behave the same way, if possible.

Thanks for the attention on this. If necessary I can get you a file that demonstrates the problem, but since they contain restricted data I'd have to do some obfuscation work first.

[2022-09-20 03:04] liquidcarbon opened #1621 "Hitting S3 Request Rate Limits"
Hi all,
we have an issue that is rather difficult to reproduce and diagnose.

The question is:
When executing `awswrangler.s3.to_parquet(dataset=True)`, what HTTP requests are executed, and is there a way to bring them to light and suppress/throttle some of them?

### Setup
- we have a pipeline that writes 8 tables via `awswrangler.s3.to_parquet(dataset=True)`
- the pipeline is triggered through E

[2022-09-20 03:06] liquidcarbon commented on #1621
The above was observed  with awswrangler 2.15

Reading the code today (2.16.1), it seems like `awswrangler.s3._write_dataset._to_partitions` should be called, right here: https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/s3/_write_dataset.py#L48 - it seems to using lakeformation Client for which I do not have the permissions (`An error occurred (AccessDeniedException) when calling the Ge

[2022-09-20 07:06] liquidcarbon opened #1622 "No respect for tinyint with CTAS"
### Describe the bug

int8 (tinyint) does not come back as Int8

### How to Reproduce

1. Create data
[code]

2. Write data
[code]

3. Verify `tinyint`:
[code]

4. CTAS gets it wrong
[code]

[code]

### Expected behavior

tinyint should come back as `np.int8` or `Int8` (`pd.core.arrays.integer.Int8Dtype`)

### Your project

_No response_

### Screenshots

_No response_

### OS

Ubuntu WSL2

### Py

[2022-09-20 14:32] jaidisido commented on #1622
When using `ctas_approach=True`, a Create Table As is submitted to the Athena engine, wrapping the `test` table you created under a select statement. At that point, the engine dumps the results as parquet in S3 using the data types in the Glue catalog for conversion. In this case, the engine reads `tiny_int` in the catalog and decides to write it as `int32` in the parquet file metadata. You can ch

[2022-09-20 14:52] jaidisido commented on #1621
Based on the stack trace, the `PUT` call happens [here](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/s3/_fs.py#L474). As you can see in the code, the call is already wrapped within a [try_it](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/_utils.py#L330) method which handles exponential backoff and delays the calls, so the load submitted must really be high in your case

[2022-09-20 21:54] awsrossw opened #1625 ""ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()""
Receiving this error when running the datawrangler based lambda function:

[code]

Updated to version 8 of the Datawrangler lambda layer and confirmed  v2.16.1

Note: Not a programer...(there are probably some very ugly things in there)

[code]

[2022-09-21 10:18] kukushking commented on #1621
My 2 cents: try `use_threads=False`. Atm each partition is written to S3 concurrently and each thread handles their own retries. If you're already doing too much in one go, then the retries would just repeat that after roughly the same period of time.

[2022-09-21 10:50] kukushking commented on #1613
Thanks @alekya1024 for opening this!

1. Yes looks like we [assume](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/catalog/_create.py#L82) the format - definitely worth to make that configurable
2. This is widely accepted Hive partitioning style
4. Yes looks like we're [not passing](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/s3/_write_parquet.py#L625) the template

I'

[2022-09-21 12:57] kukushking commented on #1576
Closing due to inactivity. Feel free to reopen if needed.

[2022-09-21 12:57] #1576 closed

[2022-09-22 14:48] farridav opened #1629 "Allow to pass in additional arguments to Timestream create table"
It would be great if we could pass arguments through to the boto client in the `awswrangler.timestream.create_table` call See https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.timestream.create_table.html#awswrangler.timestream.create_table

At the moment, it is quite limited

**Describe the solution you'd like**
To be able to pass in additional arguments to the boto3 client creati

[2022-09-22 15:06] LeonLuttenberger commented on #1625
To add onto what Anton said, while you wait for AWS to update the managed layers with `2.17.0`, you can still use the new version of the layer by specifying the ARN. You can find the appropriate layer ARN for your region and Python version [here](https://aws-sdk-pandas.readthedocs.io/en/latest/layers.html).

[2022-09-22 15:28] jaidisido opened #1630 "Athena unload_approach issues"
### Describe the bug

I discovered a number of issues to address while using Athena `unload_approach`:
1. `unload_approach` input argument does not exist for `athena.read_sql_table`
2. Database and table names are not sanitised like for other approaches. For instance, a table name of `amazon-reviews` would fail because the Glue catalog only accepts underscore (`amazon_reviews`)
3. The [query resul

[2022-09-22 17:02] awsrossw commented on #1625
Used the ARN. Bug is fixed!

Thank you very much!
Ross Warren

From: Leon Luttenberger ***@***.***>
Reply-To: aws/aws-sdk-pandas ***@***.***>
Date: Thursday, September 22, 2022 at 11:14 AM
To: aws/aws-sdk-pandas ***@***.***>
Cc: "Warren, Ross" ***@***.***>, Author ***@***.***>
Subject: Re: [aws/aws-sdk-pandas] "ValueError: The truth value of an array with more than one element is ambiguous. Use a.

[2022-09-22 17:04] #1625 closed

[2022-09-23 16:52] malachi-constant commented on #1629
Thanks for opening this @farridav. Makes sense to me to add this so I'll put it in the backlog. We always welcome contributions, but will get to at as soon as time permits.

[2022-09-23 17:19] #1615 closed

[2022-09-26 14:28] #1564 closed

[2022-09-26 14:39] #1613 closed, assigned to kukushking

[2022-09-26 15:34] #1551 closed

[2022-09-27 03:17] #1612 closed

[2022-09-27 10:28] #1630 closed

[2022-09-28 14:01] pfig opened #1639 "[Support Us]: Funding Circle"
Thank you for letting us use your organization's name on the repository read.me page and letting other customers know that you support the project!  If you would like us to also display your organization's logo. please raise a pull request to provide an image file for the logo.

Please add any files to *docs/source/_static/*

Organization Name: [Funding Circle](https://fundingcircle.com/)
Your Nam

[2022-09-28 14:21] kukushking commented on #1639
Thank you! Added to the [list](https://github.com/aws/aws-sdk-pandas/commit/cdb185f1b23beb8a415bcf1b3e61227629ba33df)

[2022-09-28 14:21] #1639 closed

[2022-09-29 02:40] mattfysh commented on #1279
@luvk1412 did you find a solution for automatically converting dicts to the arrays of tuples that pyarrow expects? thanks

[2022-09-29 15:42] spencervoorend opened #1643 "s3.copy_objects() replace filenames wild card"
I can't seem to get the wild card to work with the replace_filenames parameter. I may be doing it incorrectly but I want to change the file type suffix with the code:
`replace_filenames= {'*.dat': '*.csv'}`

[2022-09-30 11:04] mattfysh opened #1645 "Improve cold boot times for "AWSSDKPandas-Python39" AWS managed lambda layer"
**Is your idea related to a problem? Please describe.**
When adding the "AWSSDKPandas-Python39" AWS-managed lambda layer to a Python Lambda function, the init duration for a cold boot goes from ~100ms to ~3700ms (~3.7 seconds).

**Describe the solution you'd like**
 It seems like a good idea to investigate what is causing the poor cold boot times, and what can be done to improve performance (e.g.

[2022-10-03 15:28] jaidisido commented on #1645
I think one difficulty here is to distinguish between the time taken by the Lambda service to attach a layer to the function at cold boot vs improvements we can do to the layer itself. The SDK for pandas layer is a large package (40Mb zipped, 210Mb unzipped) because it bundles numerous large dependencies (pyarrow, pandas, numpy...), and many of these have already invested in some of the solutions

[2022-10-03 15:35] jaidisido commented on #1643
I don't believe that parameter supports UNIX shell wild cards, did you see that somewhere in the docs?

[2022-10-03 23:30] mattfysh commented on #1645
Ok, thanks for extra info @jaidisido - will close this issue as you seem to be aware of the impact on cold boot times.

In my case, I'm only calling `s3` methods to read and write parquet files, using a Glue catalog. Is there a more lightweight solution that I could use that would have less impact on cold boot? Thanks!

[2022-10-03 23:30] #1645 closed

[2022-10-04 09:26] gloriamacia opened #1652 "unload does not support quotes in query string"
### Describe the bug

[code]

While the following query works perfectly in wr.read_sql_query, it throws an error in unload, complaining of unsupported character around "FR" (I pasted the query to essentially show that I even tried escape characters)

[code]

### How to Reproduce

Run any SQL with quotes in it. Same happens with limit statement or where conditions, as if unload was only able to dea

[2022-10-04 17:10] VijayDeyTR opened #1655 "How do we increase retry attempts and timeout for read_parquet?"

[2022-10-04 17:30] jaidisido commented on #1655
If you are referring to the retries from the botocore configuration, please follow this [tutorial](https://aws-sdk-pandas.readthedocs.io/en/stable/tutorials/021%20-%20Global%20Configurations.html) (botocore_config). Otherwise please provide more details

[2022-10-04 17:52] VijayDeyTR commented on #1655
Yup ! t

[2022-10-04 17:52] #1655 closed

[2022-10-04 17:53] VijayDeyTR commented on #1655
Yup, thanks!

[2022-10-04 22:12] willsmith28 opened #1657 "wr.s3.to_parquet raises AccessDenied error when writing to catalog in another account"
### Describe the bug

Our organization is looking into using multiple accounts in our organization to extend the total number of glue dataset partitions we can use. My IAM user account has been granted permissions to create tables and databases in the other catalog and I can verify with the aws cli, but `wr.s3.to_parquet` fails with an Access Denied Error.

### How to Reproduce

[code]
results in

[2022-10-05 08:40] jaidisido commented on #1657
The AccessDenied exception is raised against the S3 PutObject permission, not against creating a table in the Glue catalog (i.e. glue.CreateTable). Is your IAM role allowed to PUT S3 objects cross account?

[2022-10-05 12:59] adaspadas opened #1658 "s3 read_json doesn't support parameter "lines""
pandas read_json has parameter "lines", which by default is to False.

As I understand aws-sdk-pandas doesn't support this feature, so on lambda I tried to use pandas library, which comes together with sdk layer.

`df = pd.read_json(f"s3://{bucket}/{file}", lines=True)`

However, I'm facing this error:

`[ERROR] ImportError: Missing optional dependency 'fsspec'.  Use pip or conda to install fsspec

[2022-10-05 13:22] jaidisido commented on #1658
I believe `lines=True` should already be supported in the [wr.s3.read_json](https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.s3.read_json.html#awswrangler.s3.read_json) method (see example 4)

[2022-10-06 09:22] #1658 closed

[2022-10-06 14:42] willsmith28 commented on #1657
This is a s3 permission issue, My IAM role should have had access to write to the bucket, but I had to be given full admin access to s3 for the `aws s3 cp` command to succeed.

Thank you for you time!

[2022-10-07 10:15] tsaluszewski opened #1662 "Do you plan to support passing full pyarrow schema in awswrangler.s3.read_parquet method?"
The current [read_parquet](https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.s3.read_parquet.html#awswrangler.s3.read_parquet) supports limited `pyarrow_additional_kwargs` arguments.

We do require passing an explicit pyarrow `schema` into this method in order to avoid issues with inferring incorrect schema from "schema mixed" parquet files (i.e. one file with `updated_at` field an

[2022-10-08 16:50] Gatsby-Lee commented on #342
@janpio thank you!!

[2022-10-10 05:37] Sahana-Bhat-GOQ opened #1668 "Wrangler S3 read_csv API is not honouring "encoding_errors=ignore" option"
### Describe the bug

I have a file in a csv format with data encoded other than `utf-8`. I want to ignore the malformed data and retain only the characters which are `utf-8` encoded. Pandas `read_csv` supports an option, `encoding_errors=ignore` to ignore the malformed data. While the option works as intended in `pd.read_csv` , but `wrangler.s3.read_csv`  doesn't seem to be honor this.

### How t

[2022-10-11 11:39] davnn opened #1678 "`awswrangler.athena.read_sql_query` is leaking memory"
### Describe the bug

Hey, we stumbled into a memory leak problem with our AWS lambdas and (after a painful search) tracked it down to `awswrangler.athena.read_sql_query`.

### How to Reproduce

1. Create an S3 path (`S3_PATH`) to store the following parquet file.

2. Save a test parquet file to the created S3 path

[code]

3.  Create a glue database `GLUE_DATABASE` and table `GLUE_TABLE` with a `

[2022-10-12 10:30] kukushking opened #1680 "(refactor) ray datasources"
Converting to a proper issue to track & discuss details

### Feature or Bugfix

- Refactoring

### Detail
TBC

- [PandasTextDatasource](https://github.com/aws/aws-sdk-pandas/blob/release-3.0.0/awswrangler/distributed/ray/datasources/pandas_text_datasource.py) and [ParquetDatasource](https://github.com/aws/aws-sdk-pandas/blob/release-3.0.0/awswrangler/distributed/ray/datasources/parquet_datasource.

[2022-10-12 10:51] kukushking opened #1681 "(bug) modin pyarrow type inference"
### Describe the bug

Incredible amounts of time is wasted on [inferring](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/_data_types.py#L488) pyarrow types from modin data frame when running in a distributed mode.

[2022-10-13 14:58] AlexMetsai opened #1683 "Bad output of `awswrangler.athena.read_sql_query()` when specifying `chunksize` and query is empty"
### Describe the bug

When the query result is empty, `awswrangler.athena.read_sql_query()` returns a list of strings that correspond to the _column names_ instead of an empty dataframe. This silent error results into pretty cryptic error messages in subsequent parts of the code. It is therefore my opinion that this should not be the default behanior, instead the function should return an empty _p

[2022-10-14 07:50] AlexMetsai commented on #1678
Not sure if this will help, but what is your `pandas` version, is it 1.6? I am having a similar memory leakage issue with `awswrangler.athena.read_sql_query` and downgrading to version 1.5.0 seems to tackle it for now. It could be that with version 1.6.0 some bug got introduced, either from pandas or awswrangler's side.

[2022-10-14 08:50] a-slice-of-py commented on #1678
I experienced the above behaviour with `awswrangler-2.17.0` and `pandas-1.5.0`. Moreover, I [cannot see](https://pypi.org/project/pandas/#history) `pandas-1.6.0` as released yet, assuming the usage of `pip` as package manager.

[2022-10-14 08:55] AlexMetsai commented on #1678
Oops, my mistake, the issue is with pandas 1.5.0 and I specifically downgraded to pandas 1.4.4.

[2022-10-14 11:55] a-slice-of-py commented on #1678
@AlexMetsai I tried the downgrade to `pandas-1.4.4` as suggested and I can confirm that the memory leaks seem to be gone (my current setup involves AWS Fargate, but as stated above I think the same holds for AWS Lambda - maybe @davnn can confirm): thanks for the hint!

Do you have any insights about the (maybe responsible) changes involved in `pandas-1.5.0`? I mean, did you go straight with the do

[2022-10-14 12:01] AlexMetsai commented on #1678
@a-slice-of-py You 're welcome. :)

Unfortunately I don't have any insights, we just fell back to a previous configuration that didn't showcase the issue (which had the previous pandas version). I would like to take a closer look into it, but so far I was busy with deployments (especially trying to allocate a no-larger-than-really-needed container), so I was mostly hoping that somebody from pandas

[2022-10-14 14:53] davnn commented on #1678
Can confirm that a downgrade to `pandas-1.4.4` solves the memory leak on AWS Lambda.

[2022-10-14 17:50] LeonLuttenberger commented on #1683
Hey,

Thank you for bringing this to our attention. I have merged a PR which fixes this issue. We will publish this with our next release.

Best regards,
Leon

[2022-10-14 21:01] malachi-constant commented on #1678
Confirmed this is an issue with pandas `1.5.0` as a dependency.

[code]

The have found a somewhat similar [issue](https://github.com/pandas-dev/pandas/issues/48241) in pandas opened after new updates for `1.5.0rc0`.

I'll go ahead and update our deps to `pandas<= 1.4.4` for now as we monitor the issue from our side.

@aws/aws-sdk-pandas We may want to consider a micro release after this updated t

[2022-10-14 21:47] phofl commented on #1678
We will need more info to fix this on the pandas side. The issue you linked is a false positive. It does not describe a memory leak

[2022-10-14 22:02] malachi-constant commented on #1678
Thanks @phofl I'll scratch that from the above comment. I'll see if I can dig into where exactly in the method we are encountering the memory issues.

[2022-10-15 08:39] #1643 closed

[2022-10-17 10:24] jaidisido commented on #1652
Hi @gloriamacia, have you tried the following?
https://stackoverflow.com/questions/55191070/how-to-handle-quoted-values-in-aws-redshift-unload-command

[2022-10-17 13:55] cnfait commented on #1668
There should be a fix in the next couple of days! as for a release that includes the fix, that is not decided yet.

[2022-10-17 16:10] LeonLuttenberger opened #1693 "Implement multiple Parquet Ray datasources"
**Is your idea related to a problem? Please describe.**
The current PyArrow implementation we have in `release-3.0.0` does not offer full feature parity with the non-distributed version of `read_parquet`/`write_parquet`. However, switching to a full Pandas implementation comes with severe performance drawbacks.

**Describe the solution you'd like**
One solution for this is to have both implementat

[2022-10-18 13:28] MattiasMTS commented on #463
I came across this and solved it by specifying the json dtype column (`data`column in your example`) as "string" solved it for me (awswrangler version: 2.17.0). However, this was not for Postgres, so it might not solve it regardless. Worth a shot at least!

[2022-10-18 21:12] malachi-constant commented on #1678
Working to reproduce error using build from `latest` pandas. Possibly related: [Issue](https://github.com/pandas-dev/pandas/issues/49166)

[2022-10-18 21:57] phofl commented on #1678
Does your code show future warnings? If yes, you could wait for 1.5.1, should come out in the next few days

[2022-10-21 00:03] malachi-constant commented on #1678
I have confirmed this is no longer an issue with `pandas==1.5.1` and `awswrangler==2.16.1`

[code]

Keep in mind python version will need to meet `python = ">=3.8.1, <3.11"` with this version of `pandas`.

[2022-10-21 16:26] #1681 closed

[2022-10-21 16:29] LeonLuttenberger commented on #1693
We could re-use similar logic to what was implemented for CSV: https://github.com/aws/aws-sdk-pandas/pull/1699

[2022-10-21 16:34] #1680 closed

[2022-10-21 16:36] jaidisido commented on #1693
I am not sure if this would clash with what @kukushking is currently working on?

[2022-10-21 18:09] #1678 closed

[2022-10-23 21:58] #1652 closed

[2022-10-24 07:49] informatica92 opened #1703 "DescribeEndpoints permission required globally for Timestream queries"
### Describe the bug

Not sure it is actually a bug but I noticed this strange behavior.
Considering the minimal essential code to make aws-sdk-pandas work for Timestream that is:
[code]

And considering the minimum set of required permission to access the corresponding table:
[code]

I get one error trying to make the query that is:
[code]

### How to Reproduce

code:
[code]

permission:
[code]

[2022-10-24 09:13] #1703 closed

[2022-10-24 14:29] gloriamacia commented on #1652
it worked! thanks a lot @jaidisido

[2022-10-24 15:03] koberghe opened #1707 "Athena no longer creates a default query results location but Wrangler still does"
I just noticed that Athena no longer creates a default query results location ( s3://aws-athena-query-results-ACCOUNT-REGION/) according to their [documentation](https://docs.aws.amazon.com/athena/latest/ug/querying.html). In wrangler, however, this is still the case (`create_athena_bucket()`).

I don't know why AWS decided to remove this feature. I found it useful. But I wonder if this could now

[2022-10-25 14:04] zreyn opened #1710 "New timestream endpoint url uses incorrect service name"
For the recent timestream_endpoint_url addition, there's a check for service name being 'timestream':
https://github.com/aws/aws-sdk-pandas/blob/be0bbe4b7d481d57bcf61432c528fcbf420b136a/awswrangler/_utils.py#L102

However, timestream service names are 'timestream-query' and 'timestream-write':
https://github.com/aws/aws-sdk-pandas/blob/c5d534351d44607835cbc96a6fb581976f347f34/awswrangler/timestrea

[2022-10-25 17:39] LeonLuttenberger opened #1713 "Pandas DataFrames cause obscure error in distributed mode"
### Describe the bug

When we run SDK for Pandas in distributed mode and we pass Pandas DataFrame to certain functions, instead of Modin, the function fails with the following error:

[code]

### How to Reproduce

Run `test_athena_read_sql_ctas_bucketing` in distributed mode.

### Expected behavior

If we pass a Pandas DataFrame rather than a Modin DataFrame, I would expect one two things to happe

[2022-10-25 21:20] jmahlik opened #1714 "Remove upper bound on python_requires"
### Describe the bug

Propose removing the upper bound on python requires to allow users to test with python 3.11 in their projects. The python requires upper bound ideally shouldn't be set unless there's a very specific reason to do so, this just happened to be the default poetry chose at some point, so many project seem to have adopted it.

Some interesting articles on why this might not be idea

[2022-10-26 02:20] malachi-constant commented on #1710
Thanks @zreyn for catching this and alerting the team. [PR](https://github.com/aws/aws-sdk-pandas/pull/1716) above 🐼

[2022-10-26 02:30] malachi-constant commented on #1714
@jmahlik Appreciate you starting the discussion. I personally, agree with removing the `py` version limitation as long as we make clear in our [docs](https://aws-sdk-pandas.readthedocs.io/en/stable/install.html), which versions have been thoroughly tested compatibility. Thoughts from the rest of the team?

[2022-10-26 02:32] malachi-constant opened #1717 "Bug: `validate_schema` attribute of `s3.read_parquet` fails on index columns"
Hey @malachi-constant, this breaks if one of the columns refers to an index column.

Previously:
[code]

Now:

[code]

I suggest changing the `if` to `if column not in df.columns and column not in df.index.names:` and extending the test case for it.

Thanks and apologies to be reopening this one!

_Originally posted by @robert-schmidtke in https://github.com/aws/aws-sdk-pandas/issues/1427#issuecom

[2022-10-26 07:12] kukushking commented on #1662
Hi @tsaluszewski, thanks for opening this. At the moment schema is read from the files and then validated. It should be possible to add a parameter to pass the schema and use that for validation. I'll look into adding this.

[2022-10-26 07:47] jaidisido commented on #1714
Thanks @jmahlik, we thoroughly test the library against every python version we support as we have noticed differences in behaviour in the past. However, I agree that this should not be a blocker for users wishing to install the package on the latest version. So in favour of removing the limit as well

[2022-10-26 08:15] maciej-holderny commented on #1668
Is there any update on this?

[2022-10-26 09:39] kukushking commented on #1693
@jaidisido you meant #1711 right?

[2022-10-26 09:53] kukushking opened #1718 "Revise index recovery tests"
### Describe the bug

A while ago 8 s3 parquet tests were marked as xfail supposedly due to regression in pandas. We need to revise if the problem is still present and if it's possible to resolve it now.

Enabled the tests in the branch [tests/remove-index-eq-xfail](https://github.com/aws/aws-sdk-pandas/tree/tests/remove-index-eq-xfail)

### How to Reproduce

[code]

### Expected behavior

_No res

[2022-10-26 09:59] ijtarano opened #1719 "why aws-data-wrangler-layer-py3-9 is deprecated?"
Hi everybody, I would like to know why official lambda layer of this library is deprecated in AWS. Thank you!

![image](https://user-images.githubusercontent.com/78363326/197997130-9e81a82d-c14b-412b-afa5-137182316c71.png)

https://serverlessrepo.aws.amazon.com/applications/us-east-1/336392948345/aws-data-wrangler-layer-py3-9

[2022-10-26 10:07] jaidisido commented on #1719
Hi @ijtarano, the library has recently gone through a rename from `aws-data-wrangler` to `aws-sdk-pandas`. The SAR app is still available but simply under a different name:
<img width="939" alt="image" src="https://user-images.githubusercontent.com/16362107/197998861-8f47bcba-cff3-454d-ab3b-0b35a4d433fa.png">

As result of that change we have deprecated the old versions to avoid confusion.

[2022-10-26 10:07] #1719 closed

[2022-10-26 10:10] ijtarano commented on #1719
OMG, thank you so mucho @jaidisido!!

[2022-10-27 13:52] kukushking commented on #1662
Unfortunately looks like indeed the ability to pass the schema is only available starting from pyarrow 8.

We do try to keep our dependencies up-to-date but I can't provide a specific timeline of the upgrade at this point as we have other dependencies that have their own pyarrow version constraints.

I will keep this open so it's on the radar

[2022-10-27 18:10] cnfait commented on #1668
I've proposed a fix today in this PR: #1723. It is now under review. You might be able to test it in your environment by installing the branch it is on:
```pip install git+https://github.com/aws/aws-sdk-pandas.git@read-csv-encoding-errors-param```

[2022-10-28 06:49] maciej-holderny commented on #1668
I can confirm it works properly right now - thanks. Just one note, there are also other values for encoding_errors which are not handled - example: "replace" - https://docs.python.org/3/library/codecs.html#error-handlers

[2022-10-28 10:24] #1693 closed

[2022-10-28 10:31] kukushking commented on #1707
Thank you @koberghe for sharing this. I agree it's a useful feature. Let me discuss this with the team

[2022-10-28 12:07] cnfait commented on #1668
These are a bit different - I'll look into it although there may be more important changes coming soon to our `open_s3_object` code that would also handle these cases better.

[2022-10-28 13:47] gloriamacia opened #1726 "enforce right data types in awswrangler.redshift.copy_from_files with error throwing type checks"
My team was facing a very strange error (see below) due to a very silly mistake.

Essentially the docs ask for the primary key to be a list of strings:

`primary_keys (List[str], optional) – Primary keys.
`
From https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.redshift.copy_from_files.html#awswrangler.redshift.copy_from_files

Now the problem is that my developer decided to pass a

[2022-10-28 15:35] #1714 closed

[2022-10-28 17:59] #1710 closed

[2022-10-29 01:30] malachi-constant commented on #1726
Hi @gloriamacia thanks for opening this. I agree it would be valuable to do parameter validation here. I'll get a PR started.

[2022-10-31 21:36] #1726 closed

[2022-11-01 13:29] stewmi opened #1737 "Configurable Block Size for Parquet Files"
**Is your idea related to a problem? Please describe.**
I am using to create parquet files, but the block size of the generated files is too big for S3 select and I cannot see any options to configure that (I would have assumed the default would work with S3 select, but ...)

**Describe the solution you'd like**
I would like to see a flag or a configuration file that a block size can be set for Pa

[2022-11-01 15:19] jaqsro commented on #313
In my case, I need to join 2 tables and the join columns has the same name.  ctas_approach is already = False, but I still see the error:
InvalidArgumentValue: Please, define distinct names for your columns. Root error message: SYNTAX_ERROR: line 1:1: Column name 'xpto' specified more than once

[2022-11-01 16:17] #1717 closed

[2022-11-03 22:29] aabid0193 opened #1743 "Possible to write spark dataframes to glue tables in similar fashion as awswrangler.s3.to_parquet"
If it isn't possible already, it would be nice i we can use spark dataframes to write to glue tables using something similar to wranglers to_parquet method. It works great for pandas and has the ability to set the mode to overwrite partitions and was wondering if we can do this with spark dataframes.

[2022-11-04 00:11] emerson131 commented on #1743
If you are using spark, i would image that simply converting your spark dataframe to a pandas one would get you there if you want to use the wrangler.
[code]

[2022-11-04 00:47] aabid0193 commented on #1743
yeah that is a possibility that you can do right now, however, for large datasets that required the use of spark this wouldn't be ideal

[2022-11-04 00:52] aabid0193 commented on #1743
Essentially what i'm wishing for is the  ability to register Athena tables based on the Pyspark dataframe metadata. I see that this was implemented here: https://github.com/aws/aws-sdk-pandas/issues/29.
However, it seems to me that this method is no longer supported in the newer versions of wrangler

[2022-11-04 16:41] jaidisido commented on #1737
I am not sure I understand the ask here @stewmi, are you referring to a specific input parameter to the S3 select [call](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.select_object_content) that you feel is missing?

[2022-11-06 23:47] Sahana-Bhat-GOQ commented on #1668
Thanks @cnfait for addressing the issue. Which release version can we expect to consume these changes?

[2022-11-08 13:53] kukushking commented on #1518
Link #1731

[2022-11-09 15:08] cotrariello84 commented on #1156
has the bug been fixed?

[2022-11-09 15:09] cotrariello84 commented on #317
has the bug been fixed?

[2022-11-09 15:10] cotrariello84 commented on #1391
has the bug been fixed?

[2022-11-09 15:19] malachi-constant commented on #1391
@cotrariello84 Yes this was published in release [`2.16.0`](https://github.com/aws/aws-sdk-pandas/releases/tag/2.16.0) and should not be an issue in `awswrangler>=2.16.0`

[2022-11-09 15:22] malachi-constant commented on #317
@cotrariello84 Yes this was released in [1.7.0](https://github.com/awslabs/aws-data-wrangler/releases/tag/1.7.0)

[2022-11-09 15:23] malachi-constant commented on #1156
@cotrariello84 Yes this was released in [2.16.0](https://github.com/awslabs/aws-data-wrangler/releases/tag/2.16.0)

[2022-11-09 15:43] cotrariello84 commented on #1156
Hi @malachi-constant I still have the bug in version 2.17.0. I had to use pyathena to solve it. but I 'd like to use wrangler.

[2022-11-09 15:43] cotrariello84 commented on #317
Hi @malachi-constant I still have the bug in version 2.17.0. I had to use pyathena to solve it. but I 'd like to use wrangler.

[2022-11-09 15:43] cotrariello84 commented on #1391
Hi @malachi-constant I still have the bug in version 2.17.0. I had to use pyathena to solve it. but I 'd like to use wrangler.

[2022-11-09 15:54] malachi-constant commented on #317
@cotrariello84 Can you open a new issue with specifics on the error you're encountering as well as steps to replicate the scenario?

[2022-11-09 15:54] malachi-constant commented on #1391
See [comment](https://github.com/aws/aws-sdk-pandas/issues/317#issuecomment-1308971639)

[2022-11-09 15:55] malachi-constant commented on #1156
See [comment](https://github.com/aws/aws-sdk-pandas/issues/317#issuecomment-1308971639)

[2022-11-09 16:42] mc51 opened #1754 "Using Hyphens in Redshift Table name results in error on upserting data"
### Describe the bug

Using hyphens in the name of a Redshift table is possible. When using `redshift.copy()` with `mode="upsert"` the initial write of the table will work. However, a second executing of the method will fail.
Error message:
[code]

### How to Reproduce

Here is a minimal reprex. Run it twice:
[code]

### Expected behavior

It should not fail, as it doesn't when using "test_table"

[2022-11-09 17:03] mc51 commented on #1754
I guess, is it as simple as quoting the table names consistently:

`KeyError: ('DELETE FROM "my_schema"."test-table" USING temp_redshift_b8d8c3305602447bbc6cee8d60bbff8d WHERE test-table.id = temp_redshift_b8d8c3305602447bbc6cee8d60bbff8d.id', ())`

in the second part of the command the table name is unquoted. I'll try to fix this myself and submit a PR in the next days.

[2022-11-09 17:56] vikramsg opened #1755 "When using the EMR client, the code does not use extra_public_registries argument"
### Describe the bug

If I setup an EMR cluster using the `extra_public_registries` argument, I expect it to be available in the EMR cluster that is created. But I only see the default registries.

I think this is because of the code that is here.
https://github.com/aws/aws-sdk-pandas/blob/d0e82c0fb3bc09c6a13aa2de19c13c0c32192489/awswrangler/emr.py#L161

[code]

So, the argument should be `extra_r

[2022-11-09 18:46] jaidisido opened #1756 "Swap JDBC for Arrow ADBC"
Leveraging the Arrow ADBC Driver has a number of advantages:
- A single, universal driver would replace all existing, proprietary drivers (mssql, postgres...)
- Better performance due to not processing each row separately and tapping into pyarrow to avoid serialization/deserialization

**Additional context**
https://arrow.apache.org/docs/dev/format/ADBC.html

*P.S. Please do not attach files as it

[2022-11-09 23:59] LeonLuttenberger commented on #1755
Hey @vikramsg, thanks for opening the issue. Yes, this is indeed a bug in our codebase.

I would keep the input parameter as `extra_public_registries` in order to avoid API changes. Instead, line 161 in `emr.py` can simply be changed to reference `extra_public_registries` instead of `extra_registries`.

[2022-11-10 10:52] vikramsg commented on #1755
Hi @LeonLuttenberger ,

Thanks for the response. I have opened a PR. Please have a look.

[2022-11-11 08:56] #1737 closed

[2022-11-11 11:08] #1755 closed

[2022-11-14 11:32] pedromonteiro18 opened #1769 "ResponseParserError: Unable to parse response (no element found: line 2, column 0), invalid XML received. Further retries may succeed: b'<?xml version="1.0" encoding="UTF-8"?>\n'"
### Describe the bug

ResponseParserError when SDK executes s3 delete operation within AWS. Possibly related to this [issue](https://github.com/boto/boto3/issues/1961) which occurs when boto3 client is shared between threads, however from what I can see, the client is not being shared between threads (although I may be wrong) so I am unable to determine the root cause. Error happens intermittently

[2022-11-14 16:57] LeonLuttenberger commented on #1754
Hey,

Thanks for creating this issue. We already merged a fix for this problem. We will publish this to PyPi in our next release.

Best regards,
Leon

[2022-11-14 16:57] #1754 closed

[2022-11-15 05:56] jackblk opened #1774 "awswrangler causes segmentation fault when exiting on MacOS 13 Ventura"
### Describe the bug

Importing awswrangler will cause segmentation fault when exiting Python.

* awswrangler latest: 2.17.0
* OS:  Mac Ventura 13.0.1, Xcode CLT `version: 14.1.0.0.1.1666437224`

### How to Reproduce

[code]

### Expected behavior

Does not cause seg fault

### Your project

_No response_

### Screenshots

_No response_

### OS

Mac Ventura 13.0.1

### Python version

3.8, 3.9, 3.

[2022-11-15 16:27] kukushking commented on #1769
HI @pedromonteiro18 thanks for opening this. We do end up sharing sessions between the threads (or rather constructing different session objects from the same credentials using [boto3_to_primitives](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/_utils.py#L40). Boto3 sessions and clients aren't thread-safe but probably re-using the credentials is what's causing this is in the first pl

[2022-11-15 16:31] jaidisido opened #1775 "Decide whether to reinstate `ignore_index` in version 3.x"
### Describe the bug

`ignore_index` input argument has been dropped in `read_parquet` during refactoring from [2.x](https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.s3.read_parquet.html#awswrangler.s3.read_parquet) to [3.x](https://aws-sdk-pandas.readthedocs.io/en/3.0.0rc2/stubs/awswrangler.s3.read_parquet.html)

During refactoring, a decision was made to rely on `pa.concat` (i.e

[2022-11-15 16:31] malachi-constant opened #1776 "Pytest Coverage Distributed / Non Distributed"
**Is your idea related to a problem? Please describe.**
- Implement pytest coverage reports consistently across library testing.
- Agree upon acceptable thresholds testing should meet.
*P.S. Please do not attach files as it's considered a security risk. Add code snippets directly in the message body as much as possible.*

[2022-11-15 16:38] kukushking commented on #1563
Done with #1734

[2022-11-15 16:38] #1563 closed

[2022-11-15 20:20] ggtools opened #1778 "s3.read_parquet drop partition value with an "=" character in the value"
## Description

Let's create a small dataset with 2 rows:

[code]

This creates the following objects:

[code]

Now let's read the dataset:

[code]

The resulting df is missing the id in the  first column:

[code]

The main issue is that we have an inconsistency between `to_parquet` which is accepting the `EUR=` value while `read_parquet` ignore it.

##  Environment

OS: Mac OS ventura 13.0.1
Pyth

[2022-11-16 17:53] kukushking commented on #1621
Closing due to inactivity.

[2022-11-16 17:53] #1621 closed

[2022-11-16 17:58] kukushking commented on #1778
Hi @ggtools - we've merged a fix that will be available in the next release. In the meantime, you can try it out by installing the version from the main:
[code]

[2022-11-16 17:58] #1778 closed

[2022-11-17 16:03] kukushking opened #1783 "S3 select on a prefix returns empty data frame"
### Describe the bug

See steps to reproduce

### How to Reproduce

[code]

### Expected behavior

_No response_

### Your project

_No response_

### Screenshots

_No response_

### OS

OSX

### Python version

3.9

### AWS SDK for pandas version

3.0.0rc2

### Additional context

_No response_

[2022-11-20 16:13] alecbw commented on #1404
Just to add to this - I got the same error specifically after updating awswrangler from 1.9.6 to 2.17.0 and Python from 3.7.7 to 3.9.9 -  `botocore.exceptions.ParamValidationError: Parameter validation failed:
Unknown parameter in input: "ExcludeColumnSchema", must be one of: CatalogId, DatabaseName, TableName, Expression, NextToken, Segment, MaxResults`

[2022-11-22 01:18] b-y-f opened #1791 "pls add wr.s3.to_pickle"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you are expecting.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

*P.S.

[2022-11-22 17:49] malachi-constant commented on #1791
Thanks @b-y-f for opening. I think this can be considered for the future roadmap. I'll add to our backlog for now.

[2022-11-23 00:06] kukushking commented on #1774
Looks like it's an error in arrow 8 calling something that doesn't exist anymore:
[code]
It's fixed with pyarrow 9+

[code]

You can fix this by installing a newer pyarrow in your env.

Next SDK for pandas release 2.18.0 will come with pyarrow 10 support - feel free to install from main via `pip install git+https://github.com/aws/aws-sdk-pandas.git@main` where it's already been upgraded.

[2022-11-23 00:06] #1774 closed

[2022-11-23 06:28] jackblk commented on #1774
@kukushking thanks for the update. Unfortunately 2.17.0 still pins pyarrow  <8.1.0 as requirement so I have to install pyarrow 9 after awswrangler. This will break my workflow using requirements.txt for now so I'll wait until 2.18.0.

[2022-11-23 09:21] morokosi opened #1793 "Support CTAS write_compression in `wr.athena.read_sql_query`"
**Describe the solution you'd like**
If we could specify write_compression in `wr.athena.read_sql_query(ctas_approach=True)`, we could reduce network transfers and further speed up data reading.

[2022-11-23 15:07] AdrianoNicolucci opened #1794 "Where do we find the endpoint url in order to connect to it with AWS Data Wrangler?"
I am running a lambda within a VPC and would like to read data from AWS S3 in which an endpoint has already been established.

I believe I need to connect to it with AWS Data wrangler using `wr.config.s3_endpoint_url = s3_endpoint_url`.
Where do I find the full URL in my AWS Account in order to establish the endpoint for AWS S3 with AWS Data Wrangler? If there is no one location to find it, how do

[2022-11-23 15:10] LeonLuttenberger commented on #1793
Hey, thanks for opening this issue up. We'll add it to our backlog.

[2022-11-23 16:25] malachi-constant commented on #1794
If this is an interface endpoint you should be able to find the DNS entry for the endpoint in the [console](https://ca-central-1.console.aws.amazon.com/vpc/home?region=ca-central-1#Endpoints:) under **Details/DNS Names** or via the cli:
[code]

[More info ](https://docs.aws.amazon.com/AmazonS3/latest/userguide/privatelink-interface-endpoints.html#types-of-vpc-endpoints-for-s3)on S3 Gateway & Inter

[2022-11-23 18:04] NNM-UV opened #1796 "AWS Wrangler S3 reading parquet, writing to DynamoDB - Unsupported type numpy.ndarray"
I am trying to read parquet into dataframe with AWS wrangler, while writing this data to DynamoDB its erroring out with unsupported type error - Unsupported type numpy.ndarray for value.......

[code]

Is there a way, I can convert the ndarray type to dynamoDB list ? I dont want to lose the readability of the array if I use np.tobytes() to write and np.frombuffer() to read again. Also, users will

[2022-11-23 18:18] AdrianoNicolucci commented on #1794
For Amazon S3, it is a gateway and there is no entry in the DNS Names unfortunatelty.

[2022-11-23 18:44] malachi-constant commented on #1794
So as long as the request originates from a subnet with routes to the S3 Gateway endpoint there is no additional configuration required. If your lambda is in a subnet with the above, you do not need to set `wr.config.s3_endpoint_url`.

[2022-11-23 22:10] Sanix-Darker opened #1797 "A Nov/Dec 2022 release maybe ?"
Is it possible to have a 2022 release since there is been so much work/update since April 2021 (>1 year)... just wishing... ? 🙏🏽

[2022-11-23 22:24] jaidisido commented on #1797
The latest [release](https://pypi.org/project/awswrangler/) 2.17.0 was in September 2022

[2022-11-23 22:24] #1797 closed

[2022-11-24 00:24] Sanix-Darker commented on #1797
Oohhh 🤦🏽‍♂️  my bad !
Sorry for the issue !

[2022-11-24 12:20] ggtools commented on #1778
Sorry for the delay it works fine.

[2022-11-24 13:24] jaidisido commented on #1796
Could you please provide an example of the data you are trying to read. It does not need to be the exact data, a dummy example with a data frame would help us debug this, thanks

[2022-11-24 14:00] NNM-UV commented on #1796
["APS3200", "APS3240A", "APS3240E", "APS3400"]
or
![image](https://user-images.githubusercontent.com/118927963/203802069-8a4e2bc8-e2b2-4462-ad93-33eee1618968.png)

errors out like this

[code]

[2022-11-24 15:59] chris-wynne opened #1798 "opensearch.index_df stops without error but does not complete full index"
I'm trying to write a dataframe to AWS opens search but it seems to fail on specific rows without error.

Is there any way to debug what the issue is?

`
wr.opensearch.index_df(
    client,
    df=project_df,
    index="project_index",
    id_keys=["index_no"],
    bulk_size=1000, #number of documents
)
`

Result:

'''
Indexing:   0% (0/8540)|                                 |Elapsed Time: 0:00:00

[2022-11-24 17:15] jaidisido commented on #1796
The error is raised [here](https://github.com/aws/aws-sdk-pandas/blob/main/awswrangler/dynamodb/_write.py#L192) by the boto3 dynamodb batch writer which does not recognize the data type that you are trying to write (i.e. a numpy array). It only supports native python types such as integer, string and list.

[code]
raises the error you mentioned. But converting the column to a list solves it:
[code

[2022-11-24 17:27] NNM-UV commented on #1796
thanks @jaidisido this solution will fulfill out requirement

[2022-11-24 17:39] #1796 closed

[2022-11-24 20:58] TassoAbsa opened #1799 "Lambda layer deployment to af-south-1 region"
We would like to make use of the latest lambda layer in the af-south-1 region, however none of the versions exist in the desired region, can this please be deployed to af-south-1 (at least the AWSSDKPandas-Python39 version but of course ideally all of them for anyone else working in the region), this would be much appreciated as we're currently busy with a production deployment that would use this

[2022-11-25 12:35] vikramsg opened #1800 "Missing --auto-termination-policy in emr.create_cluster"
**Is your idea related to a problem? Please describe.**
When using AWSWrangler to create an EMR cluster, there's no option to add a termination policy based on Idle time. This is present in the CLI by using `aws ear create-cluster --auto-termination-policy IdleTimeout=long`. This is useful since if we use an orchestration tool for  cluster creation we want to make sure that the cluster is eventual

[2022-11-25 12:39] corte commented on #1289
Doesn't this problem still exist when using the lambda layer?
I have in my requirements.txt file only `aws-lambda-powertools` and I'm using the lambda layer `arn:aws:lambda:eu-west-1:336392948345:layer:AWSSDKPandas-Python37:1`
But still get the error:
```Function code combined with layers exceeds the maximum allowed size of 262144000 bytes. The actual size is 331886024 bytes```

[2022-11-25 18:03] #1596 closed

[2022-11-25 20:50] #1794 closed

[2022-11-25 20:51] AdrianoNicolucci commented on #1794
Thank you! You are correct this works no additional configuration is required if the lambda function is in the vpc with the gateway endpoint configured. I'm closing this question.

[2022-11-28 08:41] Thijss opened #1802 "Add support for Python 3.11"
Currently when using pip or poetry to install `awswrangler`, I am getting:

**Describe the solution you'd like**
I would like teo able to install `awswrangler` on Python 3.11

[2022-11-28 09:28] jaidisido commented on #1802
Duplicate of https://github.com/aws/aws-sdk-pandas/issues/1714

[2022-11-28 09:28] #1802 closed

[2022-11-28 12:57] jaidisido commented on #1798
@chris-wynne could you please turn on [logging](https://github.com/aws/aws-sdk-pandas#logging) to obtain more details on what goes wrong

[2022-11-28 12:58] jaidisido commented on #1799
We will look to add this for our 2.18.0 release. @kukushking, af-south-1 is not available by default, so we will have to enable the region in our account first

[2022-11-28 13:26] kukushking commented on #1443
Closing due to inactivity

[2022-11-28 13:26] #1443 closed

[2022-11-28 13:36] TassoAbsa commented on #1799
Thanks @jaidisido appreciate the feedback and await the release

[2022-11-28 13:44] kukushking commented on #1799
@jaidisido enabled

[2022-11-28 15:11] cnfait commented on #1668
Hi @Sahana-Bhat-GOQ sorry for not coming back to you sooner. It will be released in version 2.18.0 which is not available yet but due this week.

[2022-11-28 17:03] jmahlik commented on #1714
Any timeframe for the next release from main? Asking because it'd be nice to have this incorporated in the 2.0 series before 3.0 gets released so we don't have to bump to wrangler 3.0 right away to get 3.11 support.

Side note for anyone installing on windows, looks like there's two deps that haven't shipped windows wheels just yet.

* https://github.com/lxml/lxml/pull/360
* https://github.com/aio

[2022-11-28 18:36] a-slice-of-py commented on #895
_**DISCLAIMER**: I'm re-opening this issue to avoid duplicates as suggested by the contributing guidelines, but no problem if you want me to open a brand new one._

I recently found myself putting some effort in trying to handle reading items from a DynamoDB table and returning a Pandas Dataframe. Basically, I wanted to abstract some complexity away from available Boto3 read actions, and handle on

[2022-11-28 21:06] nfbalbontin opened #1814 "Delete Row Redshift without Primary Key"
Hi!
**Problem:** I'm trying to upsert rows to a redshift table that hasn't have primary keys. I've been trying with the `to_sql` function, like the following example:
[code]
But i get the following error:
[code]
And is because the execution in line awswrangler/redshift.py/64:
 ```cursor.execute(f"SELECT indexdef FROM pg_indexes WHERE schemaname = '{schema}' AND tablename = '{table}'")```
 returns

[2022-11-28 22:35] LeonLuttenberger commented on #1793
I have merged the PR and we will release this as part of [2.18.0](https://github.com/aws/aws-sdk-pandas/pull/1807)

[2022-11-28 22:35] #1793 closed

[2022-11-29 01:46] AdrianoNicolucci commented on #1470
With the [release of Glue 4.0](https://aws.amazon.com/about-aws/whats-new/2022/11/introducing-aws-glue-4-0/), it appears there is "support for Apache Hudi, Apache Iceberg, and Delta Lake formats" with AWS Glue. Will this make implementing this feature possible to implement now?

[2022-11-29 13:35] #1783 closed

[2022-11-29 16:45] malachi-constant commented on #1799
@TassoAbsa layers have been added for the `af-south-1` region. Please note these will not be managed and available via drop down until we release the next minor version `2.18.0`. You will need to `Specify an Arn` when adding these layers for this current version.
<img width="826" alt="Screen Shot 2022-11-29 at 8 44 51 AM" src="https://user-images.githubusercontent.com/6465221/204590352-e63167d8-b4

[2022-11-29 16:45] #1799 closed

[2022-11-29 17:03] malachi-constant commented on #1800
Our method `wr.emr.create_cluster()` uses boto3's [`run_job_flow()`](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/emr.html#EMR.Client.run_job_flow) so I'd recommend we add `AutoTerminationPolicy` as `auto_termination_policy: Dict[str, Any]`.

Example:

[code]

If you are open to implementation we would welcome your PR.

[2022-11-29 17:12] vikramsg commented on #1800
Thanks. I will submit a PR but shouldn't the type be `auto_termination_policy: Dict[str, int]`?

[2022-11-29 17:28] malachi-constant commented on #1800
@vikramsg The `Any` would take into account any **future** attributes added to the `AutoTerminationPolicy` that may not be integer values and allow seamless addition without updates to the method. But, yes at this time that's the only supported parameter so `Dict[str, int]`.

[2022-11-29 18:04] malachi-constant commented on #1289
@corte I was able to use the both the layers together in a single function. Have you given that a try?
<img width="1615" alt="Screen Shot 2022-11-29 at 10 03 40 AM" src="https://user-images.githubusercontent.com/6465221/204609772-4dcedd97-b412-40ec-b05e-8866e77a25a3.png">

[2022-11-30 11:12] vikramsg opened #1820 "Missing script CLI args for emr.submit_spark_step"
**Is your idea related to a problem? Please describe.**
After creating an EMR cluster, we can submit a python script using `emr.submit_spark_step(path="s3://path/to/script.py")`. This is then translated to `spark-submit --deploy-mode {deploy_mode} {path}` for submission.

However, when submitting the script we often want to add CLI args to the script, for eg. `spark-submit s3://path/to/script.py -

[2022-11-30 15:15] LeonLuttenberger opened #1822 "Add support for pagination for `wr.timestream.list_databases` and `wr.timestream.list_tables`"
**Is your idea related to a problem? Please describe.**
The current implementation of the `wr.timestream.list_databases` and `wr.timestream.list_tables` function does not support pagination. This means that the returned list of databases/tables will be incomplete if they don't fit into a single page.

**Describe the solution you'd like**
Add support pagination. Unfortunately the relevant Timestrea

[2022-11-30 15:22] #1713 closed

[2022-11-30 16:30] enricomarchesin opened #1823 "Unexpected exception `TypeError: 'NoneType' object is not subscriptable` reading parquet files with timezone aware timestamps"
### Describe the bug

I'm getting the following exception while reading a parquet file from S3:

[code]

### How to Reproduce

[code]

It will throw the error above.

### Expected behavior

I would have expected the file to be read with no issues.

### Your project

n/a

### Screenshots

![image](https://user-images.githubusercontent.com/7022619/204853326-25a25c2f-bae7-4a37-ba00-22290210e0a8.png)

[2022-11-30 17:38] kukushking commented on #1820
Good idea @vikramsg, would make the experience a bit nicer

[2022-11-30 20:21] NNM-UV opened #1825 "AWS Wrangler not maintaining the Map structure"
my pandas dataframe have a map column like below -

![image](https://user-images.githubusercontent.com/118927963/204899156-fe409687-f9ca-4523-a9de-e99a93302ad8.png)
[code]
While writing into dynamoDB, Wrangler is converting it from Map to List type, saving the record as below -

![image](https://user-images.githubusercontent.com/118927963/204900046-732f7a56-0c0a-44ed-b101-af523a07b9b4.png)

[code]

[2022-11-30 22:45] kukushking commented on #1518
Verified pyarrow 10 support in:

1. Lambda ✅
2. Glue Python Shell ✅
3. Glue PySpark (Glue v4) ✅
4. MWAA - TBC
5. EMR - TBC

[2022-11-30 23:09] LeonLuttenberger commented on #1825
Hello,

I am using the example you provided but I'm unable to recreate the error. I have used the following commands:

[code]

When I ran these commands, the data frame was stored properly. Can you please help correct my example so that I can recreate your error? Also, please provide which version of `awswrangler` you are using.

Best regards,
Leon